<table>
    <tr>
        <td><a href="DisableDatePicker">DisableDatePicker</a></td>
        <td><a href="SetPlaceholder">SetPlaceholder</a></td>
        <td><a href="ReadOnly">ReadOnly</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>