<table>
    <tr>
        <td>
            <a href="isprimary">1.IsPrimary</a><br><br>
            <a href="tooltipposition">2.Tooltip Position</a><br><br>
            <a href="cssclass">3.Css Class</a>
        </td>
    </tr>
</table>