<table>
    <tr>
        <td><a href="Selection1">Selection</a></td>
        <td><a href="Selectionmode">Selection mode</a></td>
        <td><a href="cellselection">Cell Selection</a></td>     
    </tr>
    <tr>
        <td><a href="checkboxSelectionmode">Checkbox Selectionmode</a></td>
        <td><a href="toggle">Toggle Selection</a></td>
        <td><a href="selectAtInitial">Select Row At Initial Rendering</a></td>
    </tr>
    <tr>
        <td><a href="getSelectedRowIndex">Get Selected RowIndexes</a></td>
        <td><a href="selectBasedOnCondition">Multiple Selection Based On Condition</a></td>
        <td><a href="simpleMultiSelection">Simple Multiple Selection</a></td>
        <td><a href="checkboxSelection">Checkbox selection</a></td>
    </tr>
    <tr>
        <td><a href="HideSelectallCheckbox">HideSelectallCheckbox</a></td>
        <td><a href="DragSelection">DragSelection</a></td>
    </tr>
</table>

 

<style>
    a {
       padding-right: 75px;
    }
</style>