@namespace Server.Shared
@inherits LayoutComponentBase

<PageTitle>Server</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
