<table>
    <tr>
        <td><a href="Styles">Styles</a></td>
        <td><a href="LeadingIcon">LeadingIcon</a></td>
        <td><a href="Avatar">Avatar</a></td>
    </tr>
    <tr>
        <td><a href="LeadingContent">LeadingContent</a></td>
        <td><a href="TrailingIcon">TrailingIcon</a></td>
        <td><a href="OutlineChip">OutlineChip</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>