<table>
    <tr>
        <td><a href="Alert">Alert</a></td>
        <td><a href="Confirm">Confirm</a></td>
        <td><a href="Prompt">Prompt</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>