<table>
    <tr>
        <td><a href="DimensionAlert">Alert</a></td>
        <td><a href="DimensionConfirm">Confirm</a></td>
        <td><a href="DimensionPrompt">Prompt</a></td>
        <td><a href="MaxHeightWidth">MaxHeightWidth</a></td>
        <td><a href="MinHeightWidth">MinHeightWidth</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>