<table>
    <tr>
        <td><a href="BindNativeEvents">BindNativeEvents</a></td>
        <td><a href="PassEventData">PassEventData</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>