<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SpeechToText_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <h2 style="color:white; margin: 10px;">Speech To Text</h2>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transcript">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Speech Recignition
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="isprimary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Appearance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="methods">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Methods
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>
    </nav>
</div>

