<table>
    <tr>
        <td><b>Annotation:</b></td>
        <td><a href="Annotation/ChartAnnotation">ChartAnnotation</a></td>
        <td><a href="Annotation/Region">Region</a></td>
        <td><a href="Annotation/CoOrdinateUnit">CoOrdinateUnits</a></td>
    </tr>
    <tr>
        <td><b>Appearance:</b></td>
        <td><a href="Annotation/CustomColorPalette">CustomColorPalette</a></td>
        <td><a href="Annotation/BackgroundAndBorder">BackgroundAndBorder</a></td>
        <td><a href="Annotation/ChartMargin">ChartMargin</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Annotation/CustomChartArea">ChartAreaCustomization</a></td>
        <td><a href="Annotation/Animation">Animation</a></td>
        <td><a href="Annotation/ChartTitle">ChartTitle</a></td>
        <td><a href="Annotation/ChartSubTitle">ChartSubTitle</a></td>
    </tr>
    <tr>
        <td><b>Legend:</b></td>
        <td><a href="Annotation/EnableLegend">EnableLegend</a></td>
        <td><a href="Annotation/Position">Position</a></td>
        <td><a href="Annotation/Reverse">Reverse</a></td>
        <td><a href="Annotation/Alignment">Alignment</a></td>
        <td><a href="Annotation/Shape">Shape</a></td>
        <td><a href="Annotation/Size">Size</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Annotation/ShapeSize">ShapeSize</a></td>
        <td><a href="Annotation/ItemPadding">LegendItemPadding</a></td>
        <td><a href="Annotation/Page">Paging</a></td>
        <td><a href="Annotation/TextWrap">TextWrap</a></td>
        <td><a href="Annotation/SeriesSelection">SeriesSelection</a></td>
        <td><a href="Annotation/HideLegendItem">HideLegendItem</a></td>
    </tr>
</table>