<table>
    <tr>
        <td><a href="OnRenderDayCell">OnRenderDayCell</a></td>
        <td><a href="ValueChange">ValueChange</a></td>
        <td><a href="Created">Created</a></td>
        <td><a href="Destroyed">Destroyed</a></td>
        <td><a href="Navigated">Navigated</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>