<table>
    <tr>
        <td>
            <a href="enableattachments">1.Enable Attachment</a><br><br>
            <a href="saveremoveurl">2.Save-Remove URL</a><br><br>
            <a href="filetype">3.File Type</a><br><br>
            <a href="filesize">4.File Size</a>
        </td>
    </tr>
</table>