<table>
    
    <tr>
        <td><a href="paging">Paging</a></td>
        <td><a href="pagesize">Pager with pager dropdown</a></td>
        <td><a href="PagerTemplate">PagerTemplate</a></td>
    </tr>

</table>

<style>

    a {
        padding-right: 75px;
    }
</style>