<h5>Configuring Dialog Settings</h5>

@page "/RichTextEditor/Tools/DialogSettings"

@rendermode InteractiveWebAssembly
@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor>
    <RichTextEditorDialogSettings IsModal="true" Target="body" ZIndex="1000"> </RichTextEditorDialogSettings>
</SfRichTextEditor>