<table>
    <tr>
        <td><a href="">Bind Gantt chart Data</a></td>
        <td><a href="GS_Columns">Defining Columns</a></td>
        <td><a href="GS_Editing">Enable Editing</a></td>
    </tr>
    <tr>
        <td><a href="GS_Sorting">Enable Sorting</a></td>
        <td><a href="GS_Filtering">Enable Filtering</a></td>
        <td><a href="GS_Predecessors">Enable Predecessors</a></td>
        <td><a href="GS_Handle_Exceptions">Handle Exceptions</a></td>

    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>