<table>
    <tr>
        <td><a href="Week_Timeline">Week Timeline</a></td>
        <td><a href="Month_Timeline">Month Timeline</a></td>
        <td><a href="Year_Timeline">Year Timeline</a></td>
        <td><a href="Day_Timeline">Day Timeline</a></td>
        <td><a href="Hour_Timeline">Hour Timeline</a></td>
    </tr>
    <tr>
        <td><a href="Custom_Week_StartDay">Custom Week StartDay</a></td>
        <td><a href="Custom_TimeScale_Update">Custom TimeScale Update</a></td>
        <td><a href="Timeline_Cell_Width">Timeline Cell Width</a></td>
        <td><a href="Timeline_Template">Timeline  Template</a></td>
    </tr>
    <tr>
        <td><a href="Top_Bottom_Tier">Top Bottom Tier</a></td>
        <td><a href="Zooming">Zooming</a></td>
        <td><a href="Zooming_Actions_Methods">Zooming Actions Methods</a></td>
        <td><a href="Reset_Zooming">Reset Zooming</a></td>
    </tr>
    <tr>
        <td><a href="EventMarkers">EventMarkers</a></td>
        <td><a href="Holidays">Holidays</a></td>
        <td><a href="Custom_Zooming_Levels">Custom Zooming Levels</a></td>
        <td><a href="Timeline_Cell_Format">Timeline Cell Format</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>