@page "/selectedtabs"
@rendermode InteractiveServer

@using Syncfusion.Blazor.Ribbon;
@using  Syncfusion.Blazor.Buttons;

<ContextualTabsNav></ContextualTabsNav>

<div id="ribbonContainer">
    <SfRibbon ID="ribbon">
        <RibbonTabs>
            <RibbonTab HeaderText="Home">
                <RibbonGroups>
                    <RibbonGroup HeaderText="Clipboard" ID="clipboardGroup" GroupIconCss="e-icons e-paste" ShowLauncherIcon="true">
                        <RibbonCollections>
                            <RibbonCollection>
                                <RibbonItems>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Cut" IconCss="e-icons e-cut"></RibbonButtonSettings>
                                    </RibbonItem>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Copy" IconCss="e-icons e-copy"></RibbonButtonSettings>
                                    </RibbonItem>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Format Painter" IconCss="e-icons e-format-painter"></RibbonButtonSettings>
                                    </RibbonItem>
                                </RibbonItems>
                            </RibbonCollection>
                        </RibbonCollections>
                    </RibbonGroup>
                </RibbonGroups>
            </RibbonTab>
        </RibbonTabs>
        <RibbonContextualTabs>
            <RibbonContextualTab @bind-Visible=@isVisible @bind-IsSelected=@isSelected>
                <RibbonTabs>
                    <RibbonTab HeaderText="Styles">
                        <RibbonGroups>
                            <RibbonGroup HeaderText="Style" ShowLauncherIcon="true">
                                <RibbonCollections>
                                    <RibbonCollection>
                                        <RibbonItems>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Style" IconCss="e-icons e-style"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Text Box" IconCss="e-icons e-font-name"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Paint" IconCss="e-icons e-paint-bucket"></RibbonButtonSettings>
                                            </RibbonItem>
                                        </RibbonItems>
                                    </RibbonCollection>
                                </RibbonCollections>
                            </RibbonGroup>
                        </RibbonGroups>
                    </RibbonTab>
                </RibbonTabs>
            </RibbonContextualTab>
        </RibbonContextualTabs>
    </SfRibbon>
</div>

@code {
    bool isVisible = true;
    bool isSelected = true;
}