<table>
    <tr>
        <td><b>Techical Indicators:</b></td>
        <td><a href="Indicators/Distributor">AccumulationDistributor&nbsp;&nbsp;</a></td>
        <td><a href="Indicators/ATR">AverageTrueRange&nbsp;&nbsp;</a></td>
        <td><a href="Indicators/Bollinger">BollingerBand&nbsp;&nbsp;</a></td>
        <td><a href="Indicators/EMA">ExponentialMovingAverage&nbsp;&nbsp;</a></td>
        <td><a href="Indicators/Momentum">Momentum</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Indicators/MACD">MACD</a></td>
        <td><a href="Indicators/RSI">RSI</a></td>
        <td><a href="Indicators/SMA">SMA</a></td>
        <td><a href="Indicators/Stochastic">Stochastic</a></td>
        <td><a href="Indicators/TMA">TMA</a></td>
    </tr>
    <tr>
        <td><b>Trendlines:</b></td>
        <td><a href="Indicators/Linear">Linear</a></td>
        <td><a href="Indicators/Exponential">Exponential</a></td>
        <td><a href="Indicators/Logarithmic">Logarithmic</a></td>
        <td><a href="Indicators/Polynomial">Polynomial</a></td>
        <td><a href="Indicators/Power">Power</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Indicators/MovingAverage">MovingAverage</a></td>
        <td><a href="Indicators/ForwardForecasting">ForwardForecasting</a></td>
        <td><a href="Indicators/BackwardForecasting">BackwardForecasting</a></td>
        <td><a href="Indicators/Trendline">Show/HideTrendline</a></td>
    </tr>
    <tr>
        <td><b>Internationalization:</b></td>
        <td><a href="Indicators/Global">Globalization</a></td>
    </tr>
</table>