<table>
    <tr>
        <td><a href="arraytablebinding">Array-TableBinding</a></td>
        <td><a href="emptypoints">Empty Points</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>