<table>
    <tr>
        <td><a href="AccumulationTypes/PieDoughnut/ColorTextMaping">ColorTextMaping</a></td>
        <td><a href="AccumulationTypes/PieDoughnut/Doughnut">Doughnut</a></td>
        <td><a href="AccumulationTypes/PieDoughnut/HidePieBorder">HidePieBorder</a></td>
    </tr>
    <tr>
        <td><a href="AccumulationTypes/PieDoughnut/Pie">Pie</a></td>
        <td><a href="AccumulationTypes/PieDoughnut/PieCenter">PieCenter</a></td>
        <td><a href="AccumulationTypes/PieDoughnut/RadiusCustomization">RadiusCustomization</a></td>
    </tr>
    <tr>
        <td><a href="AccumulationTypes/PieDoughnut/StartEndAngle">StartEndAngle</a></td>
        <td><a href="AccumulationTypes/PieDoughnut/VariousRadius">VariousRadius</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>