<table>
    <tr>
        <td><a href="filterinitial">Initial Filter</a></td>
        <td><a href="gridfiltering">Filter bar</a></td>
        <td><a href="filterbartemplate">Filter bar template with custom component</a></td>
    </tr>
    <tr>
        <td><a href="defaultfilteroperator">Change default filter operator</a></td>
        <td><a href="filtermenu">Filter Menu</a></td>
        <td><a href="filtermenucomponent">Custom component in filter menu</a></td>
    </tr>
    <tr>
        <td><a href="filterdifferent">Enable different filter for column</a></td>
        <td><a href="excelfilter">Excel like filter</a></td>
        <td><a href="FilterItemTemplate">FilterItemTemplate</a></td>
    </tr>
    <tr>
        <td><a href="CustomFilterIcon">CustomFilterIcon</a></td>
        <td><a href="CustomFilterPopup">CustomFilterPopup</a></td>
        <td><a href="FilterOperator-Override">FilterOperator-Override</a></td>
    </tr>
    <tr>
        <td><a href="Enable_FilterColumn">Enable_FilterColumn</a></td>
        <td><a href="FilterMode">FilterMode</a></td>
    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>
