<table>
    <tr>
        <td><a href="Binding">Binding</a></td>
        <td><a href="IndexValueBinding">IndexValueBinding</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>