<table>
    <tr>
        <td><a href="Accumulation/Grouping/BrokenSlice">BrokenSlice</a></td>
        <td><a href="Accumulation/Grouping/Grouping">Grouping</a></td>
        <td><a href="Accumulation/Grouping/GroupMode">GroupMode</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>