<table>
    <tr>
        <td><a href="ItemTemplate">ItemTemplate</a></td>
        <td><a href="ValueTemplate">ValueTemplate</a></td>
        <td><a href="GroupTemplate">GroupTemplate</a></td>
    </tr>
    <tr>
        <td><a href="HeaderTemplate">HeaderTemplate</a></td>
        <td><a href="FooterTemplate">FooterTemplate</a></td>
        <td><a href="NoRecordsTemplate">NoRecordsTemplate</a></td>
        <td><a href="ActionFailureTemplate">ActionFailureTemplate</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>