<table>
    <tr>
        <td><a href="SingleKeyMapping">Single Key Mapping</a></td>
        <td><a href="MultiKeyMapping">Multi Key Mapping</a></td>
        <td><a href="HeaderTemplate">Header Template</a></td>
    </tr>
    <tr>
        <td><a href="ToggleColumns">Toggle Columns</a></td>
        <td><a href="InitialCollapsedColumn">Initial Collapsed Column</a></td>
        <td><a href="StackedHeaders">Stacked Headers</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>