<table>
    <tr>
        <td><a href="AddCustomHeaders">AddCustomHeaders</a></td>
        <td><a href="WorkingInOfflineMode">WorkingInOfflineMode</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>