<table>
    <tr>
        <td><b>Chart Features:</b></td>
        <td><a href="Features/Horizontal">Horizontal Stripline</a></td>
        <td><a href="Features/Vertical">Vertical Stripline</a></td>
        <td><a href="Features/Stripline">Stripline Customization</a></td>
        <td><a href="Features/Text">Text Customization</a></td>
    </tr>
    <tr>
        <td><b>Multiple Panes:</b></td>
        <td><a href="Features/Rows">Rows</a></td>
        <td><a href="Features/Columns">Columns</a></td>
    </tr>
    <tr>
        <td><b>Mixed Chart:</b></td>
        <td><a href="Features/MultipleChart">MultipleChartSeries</a></td>
        <td><a href="Features/CombinationChart">CombinationChartSeries</a></td>
        <td><a href="Features/DataLabelTemplate">DataLabelTemplate</a></td>
    </tr>
    <tr>
        <td><b>Marker:</b></td>
        <td><a href="Features/Markers">Markers</a></td>
        <td><a href="Features/Shape">Shape</a></td>
        <td><a href="Features/AutoMarkerShape">AutoMarkerShape</a></td>
        <td><a href="Features/Images">Images</a></td>
        <td><a href="Features/FillMarker">Fill Marker</a></td>
        <td><a href="Features/Customization">Cusomization</a></td>
    </tr>
    <tr>
        <td><b>Data Labels:</b></td>
        <td><a href="Features/DataLabels">Data Labels</a></td>
        <td><a href="Features/Position">Position</a></td>
        <td><a href="Features/TextMapping">Text Mapping</a></td>
        <td><a href="Features/Format">Format</a></td>
        <td><a href="Features/Margin">Margin</a></td>
        <td><a href="Features/LabelCustomization">Label Customization</a></td>
    </tr>
</table>