<table>
    <tr>
        <td>
            <a href="backstagemenuitems">Backstage MenuItems</a><br><br>
            <a href="footeritems">Footer Items</a><br><br>
            <a href="seperator">Seperator</a><br><br>
            <a href="backbutton">Back Button Settings</a><br><br>
            <a href="template">Template</a><br><br>
            <a href="backstageitemclick">Backstage Itemclick</a><br><br>
        </td>
    </tr>
</table>