<table>
    <tr>
        <td><a href="InputChip">InputChip</a></td>
        <td><a href="ChoiceChip">ChoiceChip</a></td>
        <td><a href="FilterChip">FilterChip</a></td>
    </tr>
    <tr>
        <td><a href="ActionChip">ActionChip</a></td>
        <td><a href="DeletableChip">DeletableChip</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>