<table>
    <tr>
        <td><a href="actionBegin">ActionBegin</a></td>
        <td><a href="actionComplete">ActionComplete</a></td>
        <td><a href="actionFailure">ActionFailure</a></td>
    </tr>
    <tr>
        <td><a href="dataBound">DataBound</a></td>
        <td><a href="detailDataBound">DetailDataBound</a></td>
        <td><a href="onBeginEdit">OnBeginEdit</a></td>
    </tr>
    <tr>
        <td><a href="OnBatchAdd">OnBatchAdd</a></td>
        <td><a href="OnBatchSave">OnBatchSave</a></td>
        <td><a href="OnBatchDelete">OnBatchDelete</a></td>
    </tr>
    <tr>
        <td><a href="OnPdfExport">OnPdfExport</a></td>
        <td><a href="Created">Created</a></td>
        <td><a href="dBound">dBound</a></td>
    </tr>
    <tr>
        <td><a href="Destroyed">Destroyed</a></td>
        <td><a href="HeaderCellInfo">HeaderCellInfo</a></td>
        <td><a href="OnLoad">OnLoad</a></td>
    </tr>
    <tr>
        <td><a href="QueryCellInfo">QueryCellInfo</a></td>
        <td><a href="OnResizeStart">OnResizeStart</a></td>
        <td><a href="ResizeStopped">ResizeStopped</a></td>
    </tr>
    <tr>
        <td><a href="RowDataBound">RowDataBound</a></td>
        <td><a href="RowDeselected">RowDeselected</a></td>
        <td><a href="RowSelected">RowSelected</a></td>
    </tr>
    <tr>
        <td><a href="RowSelecting">RowSelecting</a></td>
        <td><a href="CellSelecting">CellSelecting</a></td>
        <td><a href="CellSelected">CellSelected</a></td>
    </tr>
    <tr>
        <td><a href="OnCellEdit">OnCellEdit</a></td>
        <td><a href="OnCellSave">OnCellSave</a></td>
        <td><a href="CellSaved">CellSaved</a></td>
    </tr>
    <tr>
        <td><a href="OnToolbarClick">OnToolbarClick</a></td>
        <td><a href="CommandClicked">CommandClicked</a></td>
        <td><a href="ColumnMenuItemClicked">ColumnMenuItemClicked</a></td>
    </tr>
    <tr>
        <td><a href="ContextMenuItemClicked">ContextMenuItemClicked</a></td>
    </tr>
</table>

 

<style>
    a {
        padding-right: 75px;
    }
</style>