<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccumulationChart_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Annotation/Annotation">
                <span aria-hidden="true"></span> Annotation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/EmptyPoints/EmptyPoints">
                <span aria-hidden="true"></span> EmptyPoints
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/GettingStarted/Accumulation">
                <span aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Grouping/Grouping">
                <span aria-hidden="true"></span> Grouping
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Legend/Legend">
                <span aria-hidden="true"></span> Legend
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Title/Title">
                <span aria-hidden="true"></span> Title
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Tooltip/Tooltip">
                <span aria-hidden="true"></span> Tooltip
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/Funnel/Funnel">
                <span aria-hidden="true"></span> Funnel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/PieDoughnut/ColorTextMaping">
                <span aria-hidden="true"></span> PieDoughnut
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/Pyramid/GapSegments">
                <span aria-hidden="true"></span> Pyramid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

