<table>
    <tr>
        <td><a href="QRCode">QRCode</a></td>
        <td><a href="CustomQRCodeColor">CustomQRCodeColor</a></td>
        <td><a href="CustomQRCodeDimension">CustomQRCodeDimension</a></td>
    </tr>
    <tr>
        <td><a href="QRCustomText">CustomText</a></td>
        <td><a href="ErrorCorrectionLevel">ErrorCorrectionLevel</a></td>
        <td><a href="QREvent">Event</a></td>
    </tr>
    <tr>
        <td><a href="QRCodeWithLogo">QRCodeWithLogo</a></td>
        <td><a href="CustomLogoSize">CustomLogoSize</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>