<table>
    <tr>
        <td>
            <a href="promptText">1.Prompt Text</a><br><br>
            <a href="promptplaceholder">2.Prompt Placeholder</a><br><br>
            <a href="prompts">3.Prompts</a><br><br>
            <a href="promptsuggestion">4.Prompt Suggestion</a><br><br>
            <a href="promptsuggestionheader">5.Prompt Suggestion Header</a><br><br>
            <a href="prompticoncss">6.Prompt Icon Css</a><br><br>
            <a href="responseiconcss">7.Response Icon Css</a>
        </td>
    </tr>
</table>