<table>
    <tr>
        <td><a href="AxisCustomization">AxisCustomization</a></td>
        <td><a href="MinMax">MinMax</a></td>
        <td><a href="StartEndAngle">StartEndAngle</a></td>
    </tr>
    <tr>
        <td><a href="AxisRadiusInPixel">AxisRadiusInPixel</a></td>
        <td><a href="AxisRadiusInPercentage">AxisRadiusInPercentage</a></td>
        <td><a href="Ticks">Ticks</a></td>
    </tr>
    <tr>
        <td><a href="TickPosition">TickPosition</a></td>
        <td><a href="Labels">Labels</a></td>
        <td><a href="LabelPosition">LabelPosition</a></td>
    </tr>
    <tr>
        <td><a href="AutoAngle">AutoAngle</a></td>
        <td><a href="SmartLabels">SmartLabels</a></td>
        <td><a href="LabelFormat">LabelFormat</a></td>
    </tr>
    <tr>
        <td><a href="CustomLabelFormat">CustomLabelFormat</a></td>
        <td><a href="ShowLastLabel">ShowLastLabel</a></td>
        <td><a href="HideIntersectingAxisLabel">HideIntersectingAxisLabel</a></td>
    </tr>
    <tr>
        <td><a href="AxisDirection">AxisDirection</a></td>
        <td><a href="MultipleAxes">MultipleAxes</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>