<table>
    <tr>
        <td><a href="FadeAnimation">FadeAnimation</a></td>
        <td><a href="CustomAnimation">CustomAnimation</a></td>
        <td><a href="IntervalsBetweenSlides">IntervalsBetweenSlides</a></td>
    </tr>
    <tr>
        <td><a href="AutoPlaySlides">AutoPlaySlides</a></td>
        <td><a href="PauseOnHover">PauseOnHover</a></td>
        <td><a href="LoopingSlides">LoopingSlides</a></td>
    </tr>
    <tr>
        <td><a href="SlideChangingEvent">SlideChangingEvent</a></td>
        <td><a href="DisableTouchSwiping">DisableTouchSwiping</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>