<table>
    <tr>
        <td>
            <a href="contextualtabs">Contextual Tabs</a><br><br>
            <a href="selectedtabs">Selected Tabs</a><br><br>
            <a href="visibility">Visibility</a>
        </td>
    </tr>
</table>