<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UGSamples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dummy Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="buildintoolbar">
                <span class="oi oi-plus" aria-hidden="true"></span> buildintoolbar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customToolbaritems">
                <span class="oi oi-list-rich" aria-hidden="true"></span> customToolbaritems
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="builInCustom">
                <span class="oi oi-list-rich" aria-hidden="true"></span> builInCustom
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="customToolbar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> customToolbar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cusToolWithDropDown">
                <span class="oi oi-list-rich" aria-hidden="true"></span> cusToolWithDropDown
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="enableDisable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> enableDisableToolbar
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
