<table>
    <tr>
        <td><a href="Prevent_Render">Prevent Render</a></td>
        <td><a href="Avoid_AutoScheduling_Validation">Avoid AutoScheduling Validation</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>