<table>
    <tr>
        <td><b>Column:</b></td>
        <td><a href="ChartTypes/ColumnChart/Column">Column</a></td>
        <td><a href="ChartTypes/ColumnChart/Space">SpaceAndWidth</a></td>
        <td><a href="ChartTypes/ColumnChart/Group">GroupColumn</a></td>
        <td><a href="ChartTypes/ColumnChart/CustomColumn">CustomColumn</a></td>
    </tr>
    <tr>
        <td><b>RangeColumn:</b></td>
        <td><a href="ChartTypes/ColumnChart/RangeColumn">RangeColumn</a></td>
        <td><a href="ChartTypes/ColumnChart/CustomRangeColumn">CustomRangeColumn</a></td>
    </tr>
    <tr>
        <td><b>StackedColumn:</b></td>
        <td><a href="ChartTypes/ColumnChart/StackedColumn">StackedColumn</a></td>
        <td><a href="ChartTypes/ColumnChart/StackingGroup">StackingGroup</a></td>
        <td><a href="ChartTypes/ColumnChart/CustomStackedColumn">CustomStackedColumn</a></td>
    </tr>
    <tr>
        <td><b>100%StackedColumn:</b></td>
        <td><a href="ChartTypes/ColumnChart/PercentStackedColumn">100%StackedColumn</a></td>
        <td><a href="ChartTypes/ColumnChart/PercentCustomStackedColumn">100%CustomStackedColumn</a></td>
    </tr>
    <tr>
        <td><b>Bar:</b></td>
        <td><a href="ChartTypes/BarChart/Bar">Bar</a></td>
        <td><a href="ChartTypes/BarChart/SpaceAndWidth">SpaceAndWidth</a></td>
        <td><a href="ChartTypes/BarChart/GroupBar">GroupBar</a></td>
        <td><a href="ChartTypes/BarChart/CustomBar">CustomBar</a></td>
    </tr>
    <tr>
        <td><b>StackedBar:</b></td>
        <td><a href="ChartTypes/BarChart/StackedBar">StackedBar</a></td>
        <td><a href="ChartTypes/BarChart/GroupStackedBar">GroupStackedBar</a></td>
        <td><a href="ChartTypes/BarChart/CustomStackedBar">CustomStackedBar</a></td>
        <td><a href="ChartTypes/BarChart/PercentStackedBar">100%StackedBar</a></td>
        <td><a href="ChartTypes/BarChart/PercentCustomStackedBar">100%CustomStackedBar</a></td>
    </tr>
    <tr>
        <td><b>Scatter & Bubble:</b></td>
        <td><a href="ChartTypes/BarChart/Scatter">Scatter</a></td>
        <td><a href="ChartTypes/BarChart/CustomScatter">CustomScatter</a></td>
        <td><a href="ChartTypes/BarChart/SizeMapping">BubbleSizeMapping</a></td>
        <td><a href="ChartTypes/BarChart/CustomBubble">CustomBubble</a></td>
    </tr>
    <tr>
        <td><b>Polar:</b></td>
        <td><a href="ChartTypes/PolarAndRadar/Line">Line</a></td>
        <td><a href="ChartTypes/PolarAndRadar/Spline">Spline</a></td>
        <td><a href="ChartTypes/PolarAndRadar/Area">Area</a></td>
        <td><a href="ChartTypes/PolarAndRadar/StackedArea">StackedArea</a></td>
        <td><a href="ChartTypes/PolarAndRadar/Column">Column</a></td>
        <td><a href="ChartTypes/PolarAndRadar/StackColumn">StackColumn</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="ChartTypes/PolarAndRadar/Range">Range</a></td>
        <td><a href="ChartTypes/PolarAndRadar/PolarScatter">Scatter</a></td>
        <td><a href="ChartTypes/PolarAndRadar/StartAngleSeries">StartAngleSeries</a></td>
        <td><a href="ChartTypes/PolarAndRadar/Radius">Radius</a></td>
    </tr>
    <tr>
        <td><b>Radar:</b></td>
        <td><a href="ChartTypes/PolarAndRadar/Radar">Radar</a></td>
        <td><a href="ChartTypes/PolarAndRadar/RadarStartAngle">RadarStartAngle</a></td>
        <td><a href="ChartTypes/PolarAndRadar/CoefficientAxis">CoefficientAxis</a></td>
    </tr>
    <tr>
        <td><b>Hilo:</b></td>
        <td><a href="ChartTypes/Hilo/Hilo">HiloSeries</a></td>
        <td><a href="ChartTypes/Hilo/CustomHiloSeries">CustomHiloSeries</a></td>
        <td><a href="ChartTypes/Hilo/HLOC">HLOC</a></td>
        <td><a href="ChartTypes/Hilo/CustomHLOC">CustomHLOC</a></td>
    </tr>
    <tr>
        <td><b>Candle:</b></td>
        <td><a href="ChartTypes/Candles/Hollow">HollowCandle</a></td>
        <td><a href="ChartTypes/Candles/Solid">SolidCandle</a></td>
    </tr>
    <tr>
        <td><b>Box And Whisker</b></td>
        <td><a href="ChartTypes/Candles/BoxWhisker">BoxWhisker</a></td>
        <td><a href="ChartTypes/Candles/BoxPlot">BoxPlot</a></td>
        <td><a href="ChartTypes/Candles/Showmean">ShowMean</a></td>
    </tr>
</table>