<table>
    <tr>
        <td><a href="Splitter_Position">Splitter Position</a></td>
        <td><a href="Dynamic_Splitter_Position">Dynamic Splitter Position</a></td>        
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>