<h5>Placeholder Text Customization</h5>

@page "/RichTextEditor/Miscellaneous/PlaceholderText"

@rendermode InteractiveWebAssembly
@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor Placeholder="Type something" />

<style>
    .e-richtexteditor .e-rte-placeholder {
        font-family: monospace;
    }
</style>
