@page "/width"
@rendermode InteractiveServer

@using Syncfusion.Blazor.InteractiveChat

<AppearanceNav></AppearanceNav>

<div class="aiassist-container" style="height: 350px;">
    <SfAIAssistView Width="650px" PromptRequested="@PromptRequest"></SfAIAssistView>
</div>

@code {
    private async Task PromptRequest(AssistViewPromptRequestedEventArgs args)
    {
        await Task.Delay(1000);
        var defaultResponse = "For real-time prompt processing, connect the AI AssistView component to your preferred AI service, such as OpenAI or Azure Cognitive Services. Ensure you obtain the necessary API credentials to authenticate and enable seamless integration.";
        args.Response = defaultResponse;
    }
}