<table>
    <tr>
        <td><a href="Export">Export</a></td>
        <td><a href="ExportAsBaseImage">ExportAsBaseImage</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>