<table>
    <tr>
        <td>
            <a href="mentionuser">1.MentionUsers</a><br><br>
            <a href="mentionchar">2.Mention Char</a><br><br>
            <a href="mentiontext">3.Mention Text</a><br><br>
            <a href="valueselecting">4.Value Selecting</a>
        </td>
    </tr>

</table>
