<h5>Set placeholder</h5>

@page "/RichTextEditor/StylingAndAppearance/SetPlaceholder"

@rendermode InteractiveWebAssembly
@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor Placeholder="Type something" />

<style>
    .e-richtexteditor .e-rte-placeholder {
        font-family: monospace;
    }
</style>


