<table>
    <tr>
        <td><a href="ModifyCellSize">ModifyCellSize</a></td>
        <td><a href="SettingCellSpacing">SettingCellSpacing</a></td>
        <td><a href="GraphicalRepresentation">GraphicalRepresentation</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>