<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DropDownMenu_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="dropdownmenu">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BindEvent">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MenuIcon">
                <span aria-hidden="true"></span> Icons
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Icons">
                <span aria-hidden="true"></span> Popup Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="KeyboardInteraction">
                <span aria-hidden="true"></span> Accessibility
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ChangeCaretIcon">
                <span aria-hidden="true"></span> How To
            </NavLink>
        </li>
    </ul>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

