<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DropDownList_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="dropdownlist">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BindValue">
                <span aria-hidden="true"></span> Data Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ArrayOfJSONData">
                <span aria-hidden="true"></span> Data Source
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Group">
                <span aria-hidden="true"></span> Grouping
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Filter">
                <span aria-hidden="true"></span> Filtering
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ItemTemplate">
                <span aria-hidden="true"></span> Templates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Virtualization">
                <span aria-hidden="true"></span> Virtualization
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Blur">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DropDownListWithTooltip">
                <span aria-hidden="true"></span> How To
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

