<table>
    <tr>
        <td><a href="CreateNestedDialog">CreateNestedDialog</a></td>
        <td><a href="AchieveTwoWayBinding">AchieveTwoWayBinding</a></td>
        <td><a href="PositiontheDialog">PositiontheDialog</a></td>
    </tr>
    <tr>
        <td><a href="RenderDialogHeaderDynamically">RenderDialogHeaderDynamically</a></td>
        <td><a href="ShowDialogWithFullscreen">ShowDialogWithFullscreen</a></td>
        <td><a href="DisplayDialogWithCustomPosition">DisplayDialogWithCustomPosition</a></td>
    </tr>
    <tr>
        <td><a href="PreventClosingOfModalDialog">PreventClosingOfModalDialog</a></td>
        <td><a href="PreventFocusOnFirstElement">PreventFocusOnFirstElement</a></td>
        <td><a href="OpenDialogOnCondition">OpenDialogOnCondition</a></td>
    </tr>
    <tr>
        <td><a href="CustomDialogAppearance">CustomDialogAppearance</a></td>
        <td><a href="CloseDialog">CloseDialog</a></td>
        <td><a href="AddIconToDialogButtons">AddIconToDialogButtons</a></td>
    </tr>
    <tr>
        <td><a href="CustomIcon">CustomIcon</a></td>
        <td><a href="AddMinMaxButtons">AddMinMaxButtons</a></td>
        <td><a href="SetMaximumHeight">SetMaximumHeight</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>