<table>
    <tr>
        <td><a href="Accumulation/Title/Subtitle">Subtitle</a></td>
        <td><a href="Accumulation/Title/SubtitleCustomization">SubtitleCustomization</a></td>
        <td><a href="Accumulation/Title/Title">Title</a></td>
    </tr>
    <tr>
        <td><a href="Accumulation/Title/TitleCustomization">TitleCustomization</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>