
<table>
    <tr>
        <td><a href="Excel_Export">Excel Export</a></td>
        <td><a href="ExportType">Export Type</a></td>
        <td><a href="Bind_Custom_Data">Bind Custom Data</a></td>
        <td><a href="Add_Worksheets">Add Worksheets</a></td>
    </tr>
    <tr>
        <td><a href="Apply_Color_Themes">Apply Color Themes</a></td>
        <td><a href="Custom_Filename">Custom Filename</a></td>
        <td><a href="Customize_Excel_Export">Customize ExcelExport</a></td>
        <td><a href="Add_Header_Footer">Add Header Footer</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>