<table>
    <tr>
        <td><a href="disablehtml">Disable HTML Encode</a></td>
        <td><a href="cellcustomization">Customize Cell Styles</a></td>
        <td><a href="autowrap">Auto Wrap</a></td>
    </tr>
    <tr>
        <td><a href="customattribute">Custom Attributes</a></td>
        <td><a href="clipmode">Clip Mode</a></td>
        <td><a href="gridlines">Grid Lines</a></td>
    </tr>
  
</table>

<style>

    a {
        padding-right: 75px;
    }
</style>
