<table>
    <tr>
        <td><a href="TooltipFormat">TooltipFormat</a></td>
        <td><a href="ShowTooltipAtMousePosition">ShowTooltipAtMousePosition</a></td>
        <td><a href="TooltipAnnotation">TooltipAnnotation</a></td>
    </tr>
    <tr>
        <td><a href="DragPointer">DragPointer</a></td>
        <td><a href="DragRange">DragRange</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>