<table>
    <tr>
        <td><a href="LocalData">Local Data</a></td>
        @*<td><a href="ExpandoObject">Expando Object</a></td>*@
        <td><a href="DynamicObject">Dynamic Object</a></td>
    </tr>
    <tr>
        <td><a href="ObservableCollection">Observable Collection</a></td>
        <td><a href="ODataServices">OData Services</a></td>
        <td><a href="ODatav4Services">OData v4Services</a></td>
    </tr>
    <tr>
        <td><a href="WebAPI">WebAPI</a></td>
        <td><a href="EnableDataManager">Enable DataManager</a></td>
        <td><a href="AdditionalParameter">Send AdditionalParameter</a></td>
    </tr>
    <tr>
        <td><a href="ChangeQueryParameter">Change Query Parameter</a></td>
        <td><a href="ComplexDataBinding">Complex DataBinding</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>