<table>
    <tr>
        <td><a href="FontIcon">FontIcon</a></td>
        <td><a href="Image">Image</a></td>
        <td><a href="SVG">SVG</a></td>
    </tr>
    <tr>
        <td><a href="IconOnly">IconOnly</a></td>
        <td><a href="IconOnlyforFirstItem">IconOnlyforFirstItem</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>