<table>
    <tr>
        <td><a href="Header">Header</a></td>
        <td><a href="Tags">Tag</a></td>
        <td><a href="LeftBorderColor">Left Border Color</a></td>
    </tr>
    <tr>
        <td><a href="CustomClass">Custom Class</a></td>
        <td><a href="Template">Templates</a></td>
        <td><a href="MultipleSelection">Multiple Selection</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>