@page "/ResponsiveWithParentContainer"

@using Syncfusion.Blazor.Diagram
@using System.Collections.ObjectModel

<div style="width:700px; height:700px;">
    <SfDiagramComponent @ref="@_diagram" Width="100%" Height="100%" Nodes="_nodes"></SfDiagramComponent>
</div>

@code
{
    //Initialize the diagram's nodes collection
    private DiagramObjectCollection<Node> _nodes = new DiagramObjectCollection<Node>();
    //Reference the diagram
    private SfDiagramComponent _diagram;

    protected override void OnInitialized()
    {
        _nodes.Add(new Node()
        {
            ID = "node1",
            OffsetX = 100,
            OffsetY = 100,
            Width = 100,
            Height = 100,
            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "white" }
        });
    }
}