<table>
    <tr>
        <td><a href="Print">Print</a></td>
        <td><a href="ImageExport">Image Export</a></td>
        <td><a href="PDFExport">PDF Export</a></td>
        <td><a href="ExportAsBase64FileString">Export As Base64 File String</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>