<table>
    <tr>
        <td><a href="clipboard">Clipboard</a></td>
        <td><a href="copyExternally">CopyExternally</a></td>
    </tr>
    <tr>
        <td><a href="autofill">Autofill</a></td>
        <td><a href="paste">Paste</a></td>
    </tr>
</table>



<style>
    a {
        padding-right: 75px;
    }
</style>