<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tab_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="tab">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/Animations/Animation">
                <span aria-hidden="true"></span> Animation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/ContentRenderModes/OnDemand">
                <span aria-hidden="true"></span> ContentRenderModes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/Header/IconPosition">
                <span aria-hidden="true"></span> Header
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/HowTo/AddRemoveItems">
                <span aria-hidden="true"></span> How To
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/Orientation/Orientation">
                <span aria-hidden="true"></span> Orientation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tab/ResponsiveModes/Popup">
                <span aria-hidden="true"></span> Responsive Modes
            </NavLink>
        </li>
    </ul>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

