<table>
    <tr>
        <td><a href="EventActions">Event Actions</a></td>
        <td><a href="ActionOnFocusOut">ActionOnFocusOut</a></td>
        <td><a href="DisplayModes">DisplayModes</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>