<table>
    <tr>
        <td><a href="DefaultDialog">Default Dialog</a></td>
        <td><a href="CustomFields">Custom Fields</a></td>
        <td><a href="DialogTemplate">Dialog Template</a></td>
    </tr>
    <tr>
        <td><a href="PreventDialog">Preven tDialog</a></td>
        <td><a href="Tooltip">Kanban Tooltip</a></td>
        <td><a href="MaximumCardLimit">Maximum Card Limit</a></td>
        <td><a href="RightToLeft">RTL</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>