<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PreDefinedDialog_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="predefineddialog">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Alert">
                <span aria-hidden="true"></span> Dragging
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AnimationAlert">
                <span aria-hidden="true"></span> Animations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PositionAlert">
                <span aria-hidden="true"></span> Position
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DimensionAlert">
                <span aria-hidden="true"></span> Dimensions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomAlert">
                <span aria-hidden="true"></span> Customization
            </NavLink>
        </li>
    </ul>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

