<table>
    <tr>
        <td><a href="EnablePersistence">EnablePersistence</a></td>
        <td><a href="HandleGridStateManual">HandleGridStateManual</a></td>
    </tr>

</table>

<style>

    a {
        padding-right: 75px;
    }
</style>