<table>
    <tr>
        <td><a href="SizeInPiexel">Size In Pixel</a></td>
        <td><a href="SizeInPercentage">Size In Percentage</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>