<table>
    <tr>
        <td>
            <a href="menuitems">Menu Items</a><br><br>
            <a href="submenu">Submenu</a><br><br>
            <a href="headertext">Header Text</a><br><br>
            <a href="filemenuitemsevents">Filemenu Events</a>
        </td>
    </tr>
</table>