<table>
    <tr>
        <td><a href="grouping"> Grouping</a></td>
        <td><a href="initialgroup">Initial group</a></td>
        <td><a href="hidedroparea">Hide drop area</a></td>
    </tr>
    <tr>
        <td><a href="groupformat">Group by format</a></td>
        <td><a href="groupevent">Grouping events</a></td>
        <td><a href="captiontemplate">Caption template</a></td>
    </tr>
    <tr>
        <td><a href="lazyload">lazy Load Group</a></td>
        <td><a href="virtuallazyload">Virtualization with Lazy load</a></td>
    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>