<table>
    <tr>
        <td><a href="footer">Footer Aggregate</a></td>
        <td><a href="formataggregate">How to format aggregate value</a></td>
    </tr>
    <tr>
        <td><a href="groupAndCaption">Group And Caption Aggregate</a></td>
        <td><a href="reactiveaggregate">Reactive aggregate update</a></td>
        <td><a href="CustomAggregate">CustomAggregate</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>