<table>
    <tr>
        <td><a href="SizeInPixel">SizeInPixel</a></td>
        <td><a href="SizeInPercentage">SizeInPercentage</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>