@page "/SizeInPercentage"

@using Syncfusion.Blazor.CircularGauge
<DimensionRoute></DimensionRoute>

<div style="height:450px; width:450px">
    <SfCircularGauge Width="50%" Height="50%"></SfCircularGauge>
</div>