<table>
    <tr>
        <td><a href="SingleSelection">Single Selection</a></td>
        <td><a href="MultipleSelection">Multiple Selection</a></td>
        <td><a href="CheckBoxSelection">CheckBox Selection</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>