<table>
    <tr>
        <td><a href="LegendTextFont">LegendTextFont</a></td>
        <td><a href="LegendToggleOption">LegendToggleOption</a></td>
        <td><a href="LegendPagingSupport">LegendPagingSupport</a></td>
        <td><a href="CustomLegendText">CustomLegendText</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>