<table>
    <tr>
        <td><a href="AccumulationTypes/Pyramid/GapSegments">GapSegments</a></td>
        <td><a href="AccumulationTypes/Pyramid/Mode">Mode</a></td>
        <td><a href="AccumulationTypes/Pyramid/Pyramid">Pyramid</a></td>
    </tr>
    <tr>
        <td><a href="AccumulationTypes/Pyramid/PyramidExplode">PyramidExplode</a></td>
        <td><a href="AccumulationTypes/Pyramid/Size">Size</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>