<table>
    <tr>
        <td><a href="sorting">Sorting</a></td>
        <td><a href="initialsort">Initial Sort</a></td>
        <td><a href="multisort">Multi-column sorting</a></td>
        <td><a href="sortevent">Sorting events</a></td>
        <td><a href="Sort_Comparer">Sort_Comparer</a></td>
    </tr>

</table>

<style>

    a {
        padding-right: 75px;
    }
</style>