<table>
    <tr>
        <td><a href="bubblesize">Bubble Size</a></td>
        <td><a href="bubblecolor">Bubble Color</a></td>
        <td><a href="bubblesector">Bubble Sector</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>