<table>
    <tr>
        <td>
            <a href="messagetext">1.Message Text</a><br><br>
            <a href="messageuser">2.Message User</a><br><br>
            <a href="avatarurl">3.Avatar URL</a><br><br>
            <a href="avatarbgcolor">4.Avatar Bg color</a><br><br>
            <a href="messagescssclass">5.Css Class</a><br><br>
            <a href="statusiconcss">6.StatusIconCss</a><br><br>
            <a href="timestamp">7.TimeStamp</a><br><br>
            <a href="messagestimestampformat">8.TimeStamp Format</a><br><br>
            <a href="messageiconcss">9.IconCss</a><br><br>
            <a href="statustext">10.Status Text</a><br><br>
            <a href="statustooltip">11.Status Tooltip</a><br><br>
            <a href="pinned">12.Pinned</a><br><br>
            <a href="replyto">13.ReplyTo</a><br><br>
            <a href="isforwarded">14.IsForwarded</a><br><br>
            <a href="autoscroll">15.AutoScrollToBottom</a><br><br>
            <a href="suggestions">16.Suggestions</a><br><br>
            <a href="compactmode">17.Compact Mode</a><br><br>
            <a href="messagetoolbarwidth">18.Toolbar Width</a><br><br>
            <a href="messagetoolbaritems">19.Message Toolbar Items</a><br><br>
            <a href="messagetoolbaritemclicked">20.Message Toolbar Itemclicked</a><br><br>
            <a href="markdown">21.Markdown</a><br><br>
        </td>
    </tr>
</table>