<table>
    <tr>
        <td><a href="CriticalPath">Critical Path</a></td>
        <td><a href="CriticalPath_Settings">CriticalPath Settings</a></td>
        <td><a href="Custom_Taskbar">Custom Taskbar</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>