
<table>
    <tr>
        <td><a href="PDF_Export">PDF Export</a></td>
        <td><a href="PDF_Header_Footer">Add Header Footer</a></td>
        <td><a href="Draw_line">Draw line in Header/Footer</a></td>
        <td><a href="Column_Header_Template_Export">Column Header Template Export</a></td>
    </tr>
    <tr>
        <td><a href="Page_Orientation">Page Orientation</a></td>
        <td><a href="PDF_Custom_Filename">Custom Filename</a></td>
        <td><a href="Custom_PageSize">Custom PageSize</a></td>
        <td><a href="Export_Current_View_Records">Export CurrentView Records</a></td>
    </tr>
    <tr>
        <td><a href="Custom_Timeline_Range">Custom Timeline Range</a></td>
        <td><a href="Export_Hidden_Columns">Export Hidden Columns</a></td>
        <td><a href="Customize_Column_Width">Customize Column Width</a></td>
        <td><a href="Export_Specific_Columns">Export Specific Columns</a></td>
    </tr>
    <tr>
        <td><a href="Customize_Taskbar_Appearance">Customize Taskbar Appearance</a></td>
        <td><a href="Column_Template_Export">Column Template Export</a></td>
        <td><a href="PdfExport_Event">PDF Export Event</a></td>
        <td><a href="Export_Current_View_Records">TaskLabel Template</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>