<table>
    <tr>
        <td><a href="AccumulationTypes/Funnel/Funnel">Funnel</a></td>
        <td><a href="AccumulationTypes/Funnel/FunnelExplode">FunnelExplode</a></td>
        <td><a href="AccumulationTypes/Funnel/FunnelNeckSize">FunnelNeckSize</a></td>
    </tr>
    <tr>
        <td><a href="AccumulationTypes/Funnel/FunnelSize">FunnelSize</a></td>
        <td><a href="AccumulationTypes/Funnel/GapSegments">GapSegments</a></td>
        <td><a href="AccumulationTypes/Funnel/SmartDatalabel">SmartDatalabel</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>