<table>
    <tr>
        <td>
            <a href="galleryitems">1.Gallery Items</a><br><br>
            <a href="cssclass">2.Css Class</a><br><br>
            <a href="galleryheader">3.Header</a><br><br>
            <a href="itemdimension">4.Item Dimension</a><br><br>
            <a href="groupstyling">5.Group Styling</a><br><br>
            <a href="itemcount">6.Item Count</a><br><br>
            <a href="selecteditemindex">7.Selected Item Index</a><br><br>
            <a href="popupdimensions">8.Popup Dimension</a><br><br>
            <a href="gallerytemplate">9.Gallery Template</a><br><br>
            <a href="galleryevents">10.Gallery Events</a><br><br>
        </td>
    </tr>
</table>