<table>
    <tr>
        <td>
            <a href="bannertemplate">1.Banner Template</a><br><br>
            <a href="promptitemtemplate">2.Prompt Item Template</a><br><br>
            <a href="responseitemtemplate">3.Response Item Template</a><br><br>
            <a href="suggestionitemtemplate">4.Suggestion Item Template</a><br><br>
            <a href="footertemplate">5.Footer Template</a>
        </td>
    </tr>
</table>