<table>
    <tr>
        <td>
            <a href="emptychattemplate">1.EmptyChat Template</a><br><br>
            <a href="messagetemplate">2.Message Template</a><br><br>
            <a href="timebreaktemplate">3.TimeBreak Template</a><br><br>
            <a href="typingusertemplate">4.TypingUsers Template</a><br><br>
            <a href="suggestiontemplate">5.Suggestion Template</a><br><br>
            <a href="footertemplate">6.Footer Template</a><br><br>
        </td>
    </tr>
</table>
