<table>
    <tr>
        <td><a href="DynamicMoveInputtoEditMode">DynamicMoveInputtoEditMode</a></td>
        <td><a href="DisableEditMode">DisableEditMode</a></td>
        <td><a href="SetCustomAnimation">SetCustomAnimation</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>