@page "/AppBar/Html"
@rendermode InteractiveAuto

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
<SizeRoute></SizeRoute>
<br/>
<div class="control-container">
    <SfAppBar ColorMode="AppBarColor.Primary" aria-label="appbar">
        <SfButton CssClass="e-inherit" IconCss="e-icons e-home"></SfButton>
    </SfAppBar>
</div>