
<table>
    <tr>
        <td><a href="Sorting">Sorting</a></td>
        <td><a href="Initial_Sorting">Initial Sorting</a></td>
        <td><a href="Add_Sort_Columns">Add Sort Columns</a></td>
    </tr>
    <tr>
        <td><a href="Customize_Sort_Action">Customize Sort Action</a></td>
        <td><a href="Sort_Custom_Columns">Sort Custom Columns</a></td>
        <td><a href="Clear_Sorting">Clear Sorting</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>