<table>
    <tr>
        <td><a href="BindContextMenuEvent">BindContextMenuEvent</a></td>
        <td><a href="ChangeAnimationSettings">ChangeAnimationSettings</a></td>
        <td><a href="DataBinding">DataBinding</a></td>
    </tr>
    <tr>
        <td><a href="EnableDisableContextMenuItem">EnableDisableContextMenuItem</a></td>
        <td><a href="OpenDialogOnMenuItemClick">OpenDialogOnMenuItemClick</a></td>
        <td><a href="OpenSubMenuOnClick">OpenSubMenuOnClick</a></td>
    </tr>
    <tr>
        <td><a href="OpenCloseContextMenu">OpenCloseContextMenu</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>