<table>
    <tr>
        <td><a href="ShowDatesofOtherMonth">ShowDatesofOtherMonth</a></td>
        <td><a href="CalendarwithWeekNumbers">CalendarwithWeekNumbers</a></td>
        <td><a href="ChangeFirstDayOfWeek">ChangeFirstDayOfWeek</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>