<table>
    <tr>
        <td><a href="Icons">Icons</a></td>
        <td><a href="Separator">Separator</a></td>
        <td><a href="Navigations">Navigations</a></td>
    </tr>
    <tr>
        <td><a href="Template">Template</a></td>
        <td><a href="MultilevelSubMenuItems">MultilevelSubMenuItems</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>