<table>
    <tr>
        <td><a href="FooterContent">FooterContent</a></td>
        <td><a href="Vertical">Vertical</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>