<table>
    <tr>
        <td>
            <a href="transcript">Transcript</a><br><br>
            <a href="language">Language</a><br><br>
            <a href="interimresults">Interim Results</a><br><br>
            <a href="listeningstate">Listening State</a><br><br>
            <a href="showtooltip">Show Tooltip</a><br><br>
            <a href="disabled">Disabled</a>
        </td>
    </tr>
</table>