<table>
    <tr>
        <td><a href="Created">Created</a></td>
        <td><a href="Opened">Opened</a></td>
        <td><a href="OnOpen">OnOpen</a></td>
        <td><a href="Closed">Closed</a></td>
        <td><a href="OnClose">OnClose</a></td>
    </tr>
    <tr>
        <td><a href="OnDragStart">OnDragStart</a></td>
        <td><a href="OnDragStop">OnDragStop</a></td>
        <td><a href="OnOverlayModalClick">OnOverlayModalClick</a></td>
        <td><a href="OnResizeStart">OnResizeStart</a></td>
    </tr>
    <tr>
        <td><a href="Resizing">Resizing</a></td>
        <td><a href="OnResizeStop">OnResizeStop</a></td>
        <td><a href="Destroyed">Destroyed</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>