<table>
    <tr>
        <td><a href="showhideediting">Show or Hide columns in Dialog editing</a></td>
        <td><a href="toolbarwithDD">Create custom toolbar with drop-down list</a></td>
        <td><a href="columnstyle">Customize Column Styles</a></td>
    </tr>
    <tr>
        <td><a href="accesspublicmethod">Access public methods</a></td>
        <td><a href="changedatasource">Change datasource dynamically</a></td>
        <td><a href="customcontrolintoolbar">Custom control in grid toolbar</a></td>
    </tr>
    <tr>
        <td><a href="gridcustomization">Grid Customization</a></td>
        <td><a href="preventgridaction">Prevent default grid action</a></td>
        <td><a href="rowindex">Get index value of selected rowcell</a></td>
    </tr>
    <tr>
        <td><a href="selectrows">Select grid rows based on certain condition</a></td>
        <td><a href="columnmenuicon">Customize column menu icon</a></td>
        <td><a href="calculatevalue">Calculate column value based on other columns</a></td>
    </tr>
    <tr>
        <td><a href="dictionary">Using dictionary values</a></td>
        <td><a href="customtoolbarht">Custom toolbar items with text name</a></td>
        <td><a href="gridinsidetab">Render Grid inside the Tab </a></td>
    </tr>
    <tr>
        <td><a href="customdatadd">Provide custom data source for DropDownList</a></td>
        <td><a href="singleclickbm">Single click editing </a></td>
        <td><a href="cascading">Cascading DropDownList</a></td>
    </tr>
    <tr>
        <td><a href="edittemplatecolumn">Editing with template column</a></td>
        <td><a href="DisplayCustomTooltip">DisplayCustomTooltip</a></td>
        <td><a href="CustomEmptyGridDisplayMessage">CustomEmptyGridDisplayMessage</a></td>
    </tr>
    <tr>
        <td><a href="CustomEmptyGridDisplayMessage">CustomEmptyGridDisplayMessage</a></td>
        <td><a href="SaveNewRowatSpecificIndex">SaveNewRowatSpecificIndex</a></td>
        <td><a href="CustomFilterChoiceItemCount">CustomFilterChoiceItemCount</a></td>
    </tr>
    <tr>
        <td><a href="CustomDeleteConfirmDialog">CustomDeleteConfirmDialog</a></td>
        <td><a href="AddRangeOfItems">AddRangeOfItems</a></td>
        <td><a href="HideCommandColumninRecord">HideCommandColumninRecord</a></td>
    </tr>
    <tr>
        <td><a href="DefineGridEventProgrammatically">DefineGridEventProgrammatically</a></td>
        <td><a href="HideDetailTemplateIcon">HideDetailTemplateIcon</a></td>
        <td><a href="UseRadioButtonInsteadofCheckbox">UseRadioButtonInsteadofCheckbox</a></td>
    </tr>
    <tr>
        <td><a href="EnableorDiableGrid">Enable/DisableGrid</a></td>
        <td><a href="GroupColumnChooserItems">GroupColumnChooserItems</a></td>
        <td><a href="CssIsolation">CssIsolation</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>