<table>
    <tr>
        <td><a href="RenderingPalette">RenderingPalette</a></td>
        <td><a href="ColorValue">ColorValue</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>