<table>
    <tr>
        <td><a href="ShoworHideNavigationButton">ShoworHideNavigationButton</a></td>
        <td><a href="ShowNavigationButtonOnHover">ShowNavigationButtonOnHover</a></td>
        <td><a href="NavigationButtonTemplate">NavigationButtonTemplate</a></td>
    </tr>
    <tr>
        <td><a href="ShoworHideIndicator">ShoworHideIndicator</a></td>
        <td><a href="IndicatorsTemplate">IndicatorsTemplate</a></td>
        <td><a href="ShowPreviewofSlide">ShowPreviewofSlide</a></td>
    </tr>
    <tr>
        <td><a href="ShoworHidePlayButton">ShoworHidePlayButton</a></td>
        <td><a href="PlayButtonTemplate">PlayButtonTemplate</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>