<table>
    <tr>
        <td><a href="Prints">Print</a></td>
        <td><a href="ImageExport">ImageExport</a></td>
        <td><a href="PDFExport">PDFExport</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>