@page "/contextualtabs"
@rendermode InteractiveServer

@using Syncfusion.Blazor.Ribbon;
@using  Syncfusion.Blazor.Buttons;
 
<ContextualTabsNav></ContextualTabsNav>

<div id="ribbonContainer">
    <SfRibbon ID="ribbon">
        <RibbonTabs>
            <RibbonTab HeaderText="Home">
                <RibbonGroups>
                    <RibbonGroup HeaderText="Clipboard" ID="clipboardGroup" GroupIconCss="e-icons e-paste" ShowLauncherIcon="true">
                        <RibbonCollections>
                            <RibbonCollection>
                                <RibbonItems>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Cut" IconCss="e-icons e-cut"></RibbonButtonSettings>
                                    </RibbonItem>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Copy" IconCss="e-icons e-copy"></RibbonButtonSettings>
                                    </RibbonItem>
                                    <RibbonItem Type=RibbonItemType.Button>
                                        <RibbonButtonSettings Content="Format Painter" IconCss="e-icons e-format-painter"></RibbonButtonSettings>
                                    </RibbonItem>
                                </RibbonItems>
                            </RibbonCollection>
                        </RibbonCollections>
                    </RibbonGroup>
                </RibbonGroups>
            </RibbonTab>
        </RibbonTabs>
        <RibbonContextualTabs>
            <RibbonContextualTab @bind-Visible="@isVisible">
                <RibbonTabs>
                    <RibbonTab ID="ShapeFormat" HeaderText="Shape Format">
                        <RibbonGroups>
                            <RibbonGroup HeaderText="Text decoration" ShowLauncherIcon="true">
                                <RibbonCollections>
                                    <RibbonCollection>
                                        <RibbonItems>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Text Header" IconCss="e-icons e-text-header"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Text Wrap" IconCss="e-icons e-text-wrap"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Text Annotation" IconCss="e-icons e-text-annotation"></RibbonButtonSettings>
                                            </RibbonItem>
                                        </RibbonItems>
                                    </RibbonCollection>
                                </RibbonCollections>
                            </RibbonGroup>
                            <RibbonGroup HeaderText="Accessibility">
                                <RibbonCollections>
                                    <RibbonCollection>
                                        <RibbonItems>
                                            <RibbonItem Type=RibbonItemType.Button AllowedSizes="RibbonItemSize.Large">
                                                <RibbonButtonSettings Content="Alt Text" IconCss="e-icons e-text-alternative"></RibbonButtonSettings>
                                            </RibbonItem>
                                        </RibbonItems>
                                    </RibbonCollection>
                                </RibbonCollections>
                            </RibbonGroup>
                            <RibbonGroup HeaderText="Arrange" ShowLauncherIcon="true">
                                <RibbonCollections>
                                    <RibbonCollection>
                                        <RibbonItems>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Bring Forward" IconCss="e-icons e-bring-forward"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Send Backward" IconCss="e-icons e-send-backward"></RibbonButtonSettings>
                                            </RibbonItem>
                                            <RibbonItem Type=RibbonItemType.Button>
                                                <RibbonButtonSettings Content="Selection Pane" IconCss="e-icons e-show-hide-panel"></RibbonButtonSettings>
                                            </RibbonItem>
                                        </RibbonItems>
                                    </RibbonCollection>
                                </RibbonCollections>
                            </RibbonGroup>
                        </RibbonGroups>
                    </RibbonTab>
                </RibbonTabs>
            </RibbonContextualTab>
        </RibbonContextualTabs>
    </SfRibbon>
</div>

@code {
    bool isVisible = true;
}