<table>
    <tr>
        <td><a href="AutoGeneration">AutoGeneration of Columns</a></td>
        <td><a href="DynamicColumns">Dynamic column building</a></td>
        <td><a href="ComplexDataBinding">Complex data binding</a></td>
    </tr>
    <tr>
        <td><a href="DynamicColumnBinding-ExpandoObject">DynamicColumnBinding-ExpandoObject</a></td>
        <td><a href="ExpandoObject-ComplexDataBinding">ExpandoObject-ComplexDataBinding</a></td>
        <td><a href="DynamicObject-ComplexDataBinding">DynamicObject-ComplexDataBinding</a></td>
    </tr>
    <tr>
        <td><a href="PreventFilterQueryGeneration">PreventFilterQueryGeneration</a></td>
        <td><a href="AutoFitColumns-Visibility">AutoFitColumns-Visibility</a></td>
        <td><a href="Control-DataGrid-Actions">Control-DataGrid-Actions</a></td>
    </tr>
    <tr>
        <td><a href="LocalForeignKey">Foreign key column - Local Data</a></td>
        <td><a href="RemoteForeignKey">ForeignKey Column - Remote Data</a></td>
        <td><a href="HeaderTemplate">Header Template</a></td>
        <td><a href="HeaderText">Column HeaderText</a></td>
    </tr>
    <tr>
        <td><a href="ColTemplate">Column Template</a></td>
        <td><a href="ConditionalColumnTemplate">Using conditions inside template</a></td>
        <td><a href="HyperLinkColumn">hyperlink column and performing routing</a></td>
    </tr>
    <tr>
        <td><a href="ColumnChooser">Column chooser</a></td>
        <td><a href="ColumnChooserBtn">ColumnChooser by Button</a></td>
        <td><a href="Visibility">Visibility</a></td>
    </tr>
    <tr>
        <td><a href="AutoFit">AutoFit</a></td>
        <td><a href="AutoFitMethod">AutoFitMethod</a></td>
        <td><a href="Reorder">Reorder</a></td>
    </tr>
    <tr>
        <td><a href="Content_ColumnChooser">Content_ColumnChooser</a></td>
        <td><a href="Footer_ColumnChooser">Footer_ColumnChooser</a></td>
    </tr>
    <tr>
        <td><a href="ReorderSingleCol">ReorderSingle Column</a></td>
        <td><a href="ReorderMultipleCols">ReorderMultipleColumns</a></td>
        <td><a href="LockColumns">LockColumns</a></td>
    </tr>
    <tr>
        <td><a href="ColumnResize">Column Resizing</a></td>
        <td><a href="MinMaxWidth">Min and MaxWidth</a></td>
        <td><a href="ResizeStacked">Resize Stacked Column</a></td>
    </tr>
    <tr>
        <td><a href="ColumnMenu">Column Menu</a></td>
        <td><a href="ResponsiveColumns">Responsive Columns</a></td>
        <td><a href="ShowHideBtn">ShowHide by External Button</a></td>
    </tr>
    <tr>
        <td><a href="Boolean-CheckBox">Render boolean values as checkbox</a></td>
        <td><a href="StackedColumnHeader">StackedColumnHeader</a></td>
        <td><a href="ConditionInsideTemplate">ConditionInsideTemplate</a></td>
    </tr>
    <tr>
        <td><a href="ImageInsideTemplate">ImageInsideTemplate</a></td>
        <td><a href="ColumnChooser-Dialog-Size">ColumnChooser-Dialog-Size</a></td>
        <td><a href="Format">Format</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>