<table>
    <tr>
        <td><a href="Range">Ranges</a></td>
        <td><a href="CustomRange">Custom Range</a></td>
        <td><a href="ColorLabels">Color Labels</a></td>
        <td><a href="MultipleRanges">Multiple Ranges</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>