<table>
    <tr>
        <td><a href="AddAnnotations">Add Annotations</a></td>
        <td><a href="Change_Z_Index">Change Z Index</a></td>
        <td><a href="AnnotationPosition">Annotation Position</a></td>
    </tr>
    <tr>
        <td><a href="AnnotationAlignment">Annotation Alignment</a></td>
        <td><a href="MultipleAnnotations">Multiple Annotations</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>