<h3>Customize_Filter_Menu</h3>

@page "/Customize_Filter_Menu"
@rendermode InteractiveServer
<FilterNavigation></FilterNavigation>

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns

<SfGantt DataSource="@TaskCollection" AllowFiltering="true" Height="450px" Width="700px">
    <GanttTaskFields Id="TaskID" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress" ParentID="ParentID">
    </GanttTaskFields>

    <GanttFilterSettings FilterType="Syncfusion.Blazor.Gantt.FilterType.Menu"></GanttFilterSettings>

    <GanttColumns>
        <GanttColumn Field="TaskID" HeaderText="Task ID" Width="100">
            <FilterTemplate>
                @{
                    var contextModel = context as PredicateModel<int>;
                }
                <SfNumericTextBox TValue="int" ShowSpinButton="false" @bind-Value="contextModel.Value"></SfNumericTextBox>
            </FilterTemplate>
        </GanttColumn>

        <GanttColumn Field="TaskName" HeaderText="Task Name" Width="200">
            <FilterTemplate>
                @{
                    var contextModel = context as PredicateModel<string>;
                }
                <SfAutoComplete TValue="string" TItem="string" ID="TaskNameFilter" @bind-Value="contextModel.Value"
                                Placeholder="Select Task Name" DataSource="@CustomerData">
                </SfAutoComplete>
            </FilterTemplate>
        </GanttColumn>

        <GanttColumn Field="Duration" HeaderText="Duration" Width="120"></GanttColumn>
        <GanttColumn Field="StartDate" HeaderText="Start Date" Width="150" Format="d" Type="Syncfusion.Blazor.Grids.ColumnType.DateOnly"></GanttColumn>
        <GanttColumn Field="Progress" HeaderText="Progress" Width="100"></GanttColumn>
    </GanttColumns>
</SfGantt>

@code {
    private List<TaskData> TaskCollection { get; set; } = new();
    private List<string> CustomerData { get; set; } = new();

    protected override void OnInitialized()
    {
        TaskCollection = GetTaskCollection();
        CustomerData = TaskCollection.Select(t => t.TaskName).Distinct().ToList();
    }

    private static List<TaskData> GetTaskCollection()
    {
        List<TaskData> Tasks = new List<TaskData>()
        {
            new TaskData() { TaskID = 1, TaskName = "Project initiation", StartDate = new DateTime(2022, 01, 04), EndDate = new DateTime(2022, 01, 7), },
            new TaskData() { TaskID = 2, TaskName = "Identify Site location", StartDate = new DateTime(2022, 01, 04), Duration = "0", Progress = 30, ParentID = 1, },
            new TaskData() { TaskID = 3, TaskName = "Perform soil test", StartDate = new DateTime(2022, 01, 04), Duration = "4", Progress = 40, ParentID = 1, },
            new TaskData() { TaskID = 4, TaskName = "Soil test approval", StartDate = new DateTime(2022, 01, 04), Duration = "0", Progress = 30, ParentID = 1, },
            new TaskData() { TaskID = 5, TaskName = "Project estimation", StartDate = new DateTime(2022, 01, 04), EndDate = new DateTime(2022, 01, 10), },
            new TaskData() { TaskID = 6, TaskName = "Develop floor plan for estimation", StartDate = new DateTime(2022, 01, 06), Duration = "3", Progress = 30, ParentID = 5, },
            new TaskData() { TaskID = 7, TaskName = "List materials", StartDate = new DateTime(2022, 01, 06), Duration = "3", Progress = 40, ParentID = 5, },
            new TaskData() { TaskID = 8, TaskName = "Estimation approval", StartDate = new DateTime(2022, 01, 06), Duration = "0", Progress = 30, ParentID = 5, }
        };
        return Tasks;
    }

    public class TaskData
    {
        public int TaskID { get; set; }
        public string TaskName { get; set; }
        public DateTime StartDate { get; set; }
        public DateTime EndDate { get; set; }
        public string Duration { get; set; }
        public int Progress { get; set; }
        public int? ParentID { get; set; }
    }
}
