
<table>
    <tr>
        <td><a href="Filter">Filter</a></td>
        <td><a href="Filter_Hierarchy_Mode">Filter Hierarchy Mode</a></td>
        <td><a href="Initial_Filter">Initial Filter</a></td>
        <td><a href="Diacritics">Diacritics</a></td>
    </tr>
    <tr>
        <td><a href="Filter_Column_Method">Filter Column-Method</a></td>
        <td><a href="Clear_Filtered_Columns">Clear Filtered Columns</a></td>
        <td><a href="Enable_Filter">Enable Filter</a></td>
        <td><a href="Get_Filtered_Records">Get Filtered Records</a></td>
    </tr>
    <tr>
        <td><a href="Custom_Filter_Action">Custom Filter Action</a></td>
        <td><a href="Customize_Filter_Menu">Customize Filter Menu</a></td>
        <td><a href="Custom_Filter_Icon">Custom Filter Icon</a></td>
        <td><a href="Custom_Text_Filter">Custom Text Filter</a></td>
    </tr>
    <tr>
        <td><a href="Excel_Like_Filter">Excel-Like Filter</a></td>
        <td><a href="Filter_Choice_Count">Filter Choice Count</a></td>
        <td><a href="Filter_Menu">MenuFilter</a></td>
        <td><a href="Initial_Search">Initial Search</a></td>
    </tr>
    <tr>
        <td><a href="Search">Search</a></td>
        <td><a href="Search_External_Button">Search-ExternalButton</a></td>
        <td><a href="Search_Operators">Search Operators</a></td>
        <td><a href="Search_Specific_Columns">Search Specific Columns</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>