
<table>
    <tr>
        <td><a href="Resource_Collection">Resource Collection</a></td>
        <td><a href="Resource_Unit">Resource Unit</a></td>
        <td><a href="Resource_Cell_Edit">Resources-Cell Edit</a></td>
        <td><a href="Resources_Dialog_Edit">Resources-Dialog Edit</a></td>
    </tr>
    <tr>
        <td><a href="Resource_Edit_Methods">Resource Edit Methods</a></td>
        <td><a href="ResourceEvent">Resource Events</a></td>
        <td><a href="Custom_Taskbar_Styling">Custom Taskbar Styling</a></td>
        <td><a href="Resource_View">Resource View</a></td>
    </tr>
    <tr>
        <td><a href="Resource_Overallocation">Resource Overallocation</a></td>
        <td><a href="ResourceEvent">Resource Events</a></td>
        <td><a href="UnAssigned_Tasks">UnAssigned Tasks</a></td>
        <td><a href="Multi_Taskbar">Multi Taskbar</a></td>
    </tr>
    <tr>
        <td><a href="Taskbar_Drag_Drop">Taskbar Drag Drop</a></td>
        <td><a href="Manage_Resource_Assignments">Manage Resource Assignments</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>