<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AutoCompleteUGSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <button onclick="toggleMenuItems('autocomplete')" class="btn btn-primary w-100">AutoComplete</button>
    <ul class="nav flex-column hide" id="autocomplete">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Databinding">
                <span aria-hidden="true"></span> Data Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ArrayOfObject">
                <span aria-hidden="true"></span> Data Source
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Grouping">
                <span aria-hidden="true"></span> Grouping
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FilterType">
                <span aria-hidden="true"></span> Filtering
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ItemTemplate">
                <span aria-hidden="true"></span> Templates
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddSearchIcon">
                <span aria-hidden="true"></span> Styles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Virtualization">
                <span aria-hidden="true"></span> Virtualization
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BindNativeEvent">
                <span aria-hidden="true"></span> Native Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="KeyboardInteraction">
                <span aria-hidden="true"></span> Accessibility
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BlurEvent">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
