<table>
    <tr>
        <td><a href="ColumnDragDrop">Column Drag and Drop</a></td>
        <td><a href="SwimlaneDragDrop">Swimlane Drag and Drop</a></td>
        <td><a href="KanbanToKanban">Drag Kanban to Kanban</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>