<table>
    <tr>
        <td><a href="RelativeURL">RelativeURL</a></td>
        <td><a href="NavigateAbsoluteURL">AbsoluteURL</a></td>
        <td><a href="EnableNavigation">EnableNavigation</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>