<table>
    <tr>
        <td><a href="Blur">Blur</a></td>
        <td><a href="ValueChange">ValueChange</a></td>
        <td><a href="OnClose">OnClose</a></td>
        <td><a href="Created">Created</a></td>
    </tr>
    <tr>
        <td><a href="Destroyed">Destroyed</a></td>
        <td><a href="Focus">Focus</a></td>
        <td><a href="Navigated">Navigated</a></td>
        <td><a href="OnOpen">OnOpen</a></td>
    </tr>
    <tr>
        <td><a href="OnRenderDayCell">OnRenderDayCell</a></td>
        <td><a href="RangeSelected">RangeSelected</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>