<table>
    <tr>
        <td><a href="ButtonStyles">ButtonStyles</a></td>
        <td><a href="RoundButton">RoundButton</a></td>
        <td><a href="PrimaryButton">PrimaryButton</a></td>
    </tr>
    <tr>
        <td><a href="ToggleButton">ToggleButton</a></td>
        <td><a href="FontIcons">FontIcons</a></td>
        <td><a href="ButtonSize">ButtonSize</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>