<table>
    <tr>
        <td><a href="RestrictRangeWithinRange">RestrictRangeWithinRange</a></td>
        <td><a href="RangeSpan">RangeSpan</a></td>
        <td><a href="EnableStrictMode">EnableStrictMode</a></td>
        <td><a href="DisableStrictMode">DisableStrictMode</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>