<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AccumulationUGSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" style="overflow:auto; height: 500px;" @onclick="ToggleNavMenu">
    <button onclick="toggleMenuItems('accumulation')" class="btn btn-primary w-100">Accumulation</button>
    <ul class="nav flex-column hide" id="accumulation">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Annotation/Annotation">
                <span aria-hidden="true"></span> Annotation
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Datalabel/Connectorline">
                <span aria-hidden="true"></span> Data Label
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/EmptyPoints/EmptyPoints">
                <span aria-hidden="true"></span> EmptyPoints
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/GettingStarted/Accumulation">
                <span aria-hidden="true"></span> Getting Started
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Grouping/Grouping">
                <span aria-hidden="true"></span> Grouping
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Legend/Legend">
                <span aria-hidden="true"></span> Legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Title/Title">
                <span aria-hidden="true"></span> Title
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Accumulation/Tooltip/Tooltip">
                <span aria-hidden="true"></span> Tooltip
            </NavLink>
        </li>
    </ul>
    <button onclick="toggleMenuItems('accumulationtypes')" class="btn btn-primary w-100">Accumulation Types</button>
    <ul class="nav flex-column hide" id="Accumulationtypes">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/Funnel/Funnel">
                <span aria-hidden="true"></span> Funnel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/PieDoughnut/ColorTextMaping">
                <span aria-hidden="true"></span> PieDoughnut
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AccumulationTypes/Pyramid/GapSegments">
                <span aria-hidden="true"></span> Pyramid
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
