<table>
    <tr>
        <td><a href="translation">Loading Translation</a></td>
        <td><a href="internationalization">Internationalization</a></td>
        <td><a href="rtl">RTL</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>