<table>
    <tr>
        <td><a href="Global/NumericFormat">Numeric Format</a></td>
        <td><a href="PointerValue">Set Pointer Value</a></td>
        <td><a href="AnnotationValue">Set Annotation Value</a></td>
    </tr>
    <tr>
        <td><a href="GaugeInsideDashboardLayout">Gauge Inside DashboardLayout</a></td>
        <td><a href="GaugeInsideTab">Gauge Inside Tab</a></td>
        <td><a href="GaugeInsideDialog">Gauge Inside Dialog</a></td>
        <td><a href="GaugeInsideAccordion">Gauge Inside Accordion</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>