<table>
    <tr>
        <td><a href="DataMatrix">DataMatrix</a></td>
        <td><a href="CustomDataMatrixColor">CustomDataMatrixColor</a></td>
        <td><a href="CustomDataMatrixDimension">CustomDataMatrixDimension</a></td>
    </tr>
    <tr>
        <td><a href="DMCustomText">CustomText</a></td>
        <td><a href="DMEvent">Event</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>