<table>
    <tr>
        <td><a href="RenderAdaptiveDialog">RenderAdaptiveDialog</a></td>
        <td><a href="AdaptiveLayoutforSmallscreen">AdaptiveLayoutforSmallscreen</a></td>
        <td><a href="VerticalMode">VerticalMode</a></td>
    </tr>
</table>



<style>
    a {
        padding-right: 75px;
    }
</style>