<table>
    <tr>
        <td><a href="Accordion/AnimationEffects">Animation</a></td>
        <td><a href="Accordion/AccordionBinding">Data Binding</a></td>
        <td><a href="Accordion/CustomAccordionHeader">Customize Item Header</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/SingleExpandMode">SingleExpandMode</a></td>
        <td><a href="Accordion/MultipleExpandMode">MultipleExpandMode</a></td>
        <td><a href="Accordion/ExpandingItems">Expanding Items</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/ContentRenderMode">Content Render Mode</a></td>
        <td><a href="Accordion/AddRemoveItems">Add/RemoveItems</a></td>
        <td><a href="Accordion/ShowHideItem">Show/Hide Item</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/EnableDisableItem">Enable/Disable Item</a></td>
        <td><a href="Accordion/IconToHeader">IconToHeader</a></td>
        <td><a href="Accordion/ExpandCollapseItem">Expand/Collapse Item</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/NestedAccordion">NestedAccordion</a></td>
        <td><a href="Accordion/AccordionWizard">AccordionWizard</a></td>
        <td><a href="Accordion/TreeViewIntegration">TreeViewIntegration</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>