<table>
    <tr>
        <td><b>LineChart:</b></td>
        <td><a href="ChartTypes/LineChart/Line">Line</a></td>
        <td><a href="ChartTypes/LineChart/MultiColor">MultiColoredSeries</a></td>
        <td><a href="ChartTypes/LineChart/CustomSeries">SeriesCustomization</a></td>
    </tr>
    <tr>
        <td><b>StepLineChart:</b></td>
        <td><a href="ChartTypes/StepLineChart/StepLine">StepLine</a></td>
        @* <td><a href="ChartTypes/StepLineChart/CustomStepLineSeries">CustomStepLineSeries</a></td> *@
    </tr>
    <tr>
        <td><b>StackedLineChart:</b></td>
        <td><a href="ChartTypes/StackedLineChart/StackedLine">StackedLine</a></td>
        <td><a href="ChartTypes/StackedLineChart/CustomStackedLineSeries">CustomStackedLineSeries</a></td>
    </tr>
    <tr>
        <td><b>100PerStackedLineChart</b></td>
        <td><a href="ChartTypes/100PerStackedLineChart/StackLine">StackLine</a></td>
        <td><a href="/ChartTypes/100PerStackedLineChart/Series">SeriesCustomization</a></td>
    </tr>
    <tr>
        <td><b>SplineChart:</b></td>
        <td><a href="ChartTypes/SplineChart/Spline">Spline</a></td>
        <td><a href="ChartTypes/SplineChart/SplineType">SplineType</a></td>
        <td><a href="ChartTypes/SplineChart/CustomSpline">CustomSplineSeries</a></td>
    </tr>
    <tr>
        <td><b>AreaChart:</b></td>
        <td><a href="ChartTypes/AreaChart/Area">Area</a></td>
        <td><a href="ChartTypes/AreaChart/MulticolorArea">MulticolorArea</a></td>
        <td><a href="ChartTypes/AreaChart/CustomArea">CustomArea</a></td>
        <td><a href="ChartTypes/AreaChart/AreaBorder">AreaBorder</a></td>
    </tr>
    <tr>
        <td><b>RangeArea:</b></td>
        <td><a href="ChartTypes/Range/RangeArea">RangeArea</a></td>
        <td><a href="ChartTypes/Range/CustomRangeArea">CustomRangeArea</a></td>
        @* <td><a href="ChartTypes/Range/RangeStepArea">RangeStepArea</a></td> *@
        <td><a href="ChartTypes/Range/CustomRangeStepArea">CustomRangeStepArea</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="ChartTypes/Range/SplineRangeArea">SplineRangeArea</a></td>
        <td><a href="ChartTypes/Range/CustomSplineRangeArea">CustomSplineRangeArea</a></td>
    </tr>
    <tr>
        <td><b>StackedArea:</b></td>
        <td><a href="ChartTypes/AreaChart/StackedArea">StackedArea</a></td>
        <td><a href="ChartTypes/AreaChart/CustomStackedArea">CustomStackedArea</a></td>
        <td><a href="ChartTypes/AreaChart/StackedAreaChart">100%StackedArea</a></td>
        <td><a href="ChartTypes/AreaChart/CustomStackedAreaChart">100%CustomStackedArea</a></td>
    </tr>
    <tr>
        <td><b>StepArea:</b></td>
        <td><a href="ChartTypes/AreaChart/StepArea">StepArea</a></td>
        <td><a href="ChartTypes/AreaChart/CustomStepArea">CustomStepArea</a></td>
        <td><a href="ChartTypes/AreaChart/SplineArea">SplineArea</a></td>
        <td><a href="ChartTypes/AreaChart/CustomSplineArea">CustomSplineArea</a></td>
    </tr>
    <tr>
        <td><b>Waterfall:</b></td>
        <td><a href="ChartTypes/Waterfall/Waterfall">Waterfall</a></td>
        @* <td><a href="ChartTypes/Waterfall/CustomWaterfallSeries">CustomWaterfallSeries</a></td> *@
        <td><a href="ChartTypes/Histogram/Histogram">Histogram</a></td>
    </tr>
    <tr>
        <td><b>ErrorBar:</b></td>
        <td><a href="ChartTypes/ErrorBar/ErrorBar">ErrorBar</a></td>
        <td><a href="ChartTypes/ErrorBar/BarType">BarType</a></td>
        <td><a href="ChartTypes/ErrorBar/CustomBarType">CustomBarType</a></td>
        <td><a href="ChartTypes/ErrorBar/BarMode">BarMode</a></td>
        <td><a href="ChartTypes/ErrorBar/BarDirection">BarDirection</a></td>
        <td><a href="ChartTypes/ErrorBar/CustomErrorBarCap">CustomErrorBarCap</a></td>
    </tr>
    <tr>
        <td><b>VericalAndPareto:</b></td>
        <td><a href="ChartTypes/VerticalAndPareto/Vertical">Vertical</a></td>
        <td><a href="ChartTypes/VerticalAndPareto/Pareto">Pareto</a></td>
    </tr>
</table>