<table>
    <tr>
        <td><a href="excelcustomization">Export Current page</a></td>
        <td><a href="excelhidden">Export hiddent columns</a></td>
        <td><a href="exceltheme">Theme</a></td>
    </tr>
    <tr>
        <td><a href="excelfilename">File name for exported document</a></td>
        <td><a href="excelgroup">Exporting grouped records</a></td>
        <td><a href="excelcustomdata">Custom Data Source</a></td>
    </tr>
     <tr>
        <td><a href="excelexport">Excel Export</a></td>
    </tr>

</table>

<style>

    a {
        padding-right: 75px;
    }
</style>
