<table>
    <tr>
        <td><a href="CustomUIAppearance">CustomUIAppearance</a></td>
        <td><a href="ModelBinding">Model Binding</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>