<table>
    <tr>
        <td><a href="LocalDataBinding">LocalDataBinding</a></td>
        <td><a href="RemoteDataBinding">RemoteDataBinding</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>