@page "/Prints"

@using Syncfusion.Blazor.CircularGauge
<PrintExportRoute></PrintExportRoute>

<button @onclick="PrintGauge">Print</button>
<SfCircularGauge @ref="Gauge" AllowPrint="true">
</SfCircularGauge>

@code {
    SfCircularGauge Gauge;
    void PrintGauge()
    {
        this.Gauge.Print();
    }
}
