<table>
    <tr>
        <td>
            <a href="">IsPrimary</a><br><br>
            <a href="tooltipposition">Tooltip Position</a><br><br>
            <a href="cssclass">Css Class</a>
        </td>
    </tr>
</table>