<table>    
    <tr>
        <td><a href="Scroll">Scrolling</a></td>
        <td><a href="Responsive_Scroll">Responsive Scroll</a></td>
        <td><a href="Scroll_To_TaskRow">Scroll To TaskRow</a></td>
        <td><a href="FrozenColumns">Frozen Columns</a></td>
    </tr>
    <tr>
        <td><a href="Freeze_Direction">Freeze Direction</a></td>
        <td><a href="Freeze_Particular_Column">Freeze Particular Column</a></td>
        <td><a href="Freeze_Line_Moving">Freeze Line Moving</a></td>
        <td><a href="Frozen_line_Color">Frozen line Color</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>