<table>
    <tr>
        <td>
            <a href="created">1.Created</a><br><br>
            <a href="messagesend">2.Message Send</a><br><br>
            <a href="usertyping">3.User Typing</a>
        </td>
    </tr>
</table>