<table>
    <tr>
        <td><a href="ODataAdaptor">Binding with OData services</a></td>
        <td><a href="ODataV4Adaptor">Binding with OData v4 services</a></td>
        <td><a href="WebApiAdaptor">Web API</a></td>
    </tr>
    <tr>
        <td><a href="SfDataManager-After-InitialRender">Enable SfDataManager after initial rendering</a></td>
        <td><a href="SendAdditonalParameters">Sending additional parameters to the server</a></td>
        <td><a href="HandlingHTTPerror">Handling HTTP error</a></td>
    </tr>
    <tr>
        <td><a href="SettingCustomHeaders">Setting custom headers</a></td>
        <td><a href="ChangeQueryParameter">Change Query parameter value dynamically</a></td>
        <td><a href="ObservableCollection">Observable Collection</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>