<table>
    <tr>
        <td><a href="Code39">Code39</a></td>
        <td><a href="Code39Extended">Code39Extended</a></td>
        <td><a href="Code11">Code11</a></td>
    </tr>
    <tr>
        <td><a href="CodaBar">CodaBar</a></td>
        <td><a href="Code32">Code32</a></td>
        <td><a href="Code93">Code93</a></td>
    </tr>
    <tr>
        <td><a href="Code128">Code128</a></td>
        <td><a href="CustomBarcodeColor">CustomBarcodeColor</a></td>
        <td><a href="CustomBarcodeDimension">CustomBarcodeDimension</a></td>
    </tr>
    <tr>
        <td><a href="CustomText">CustomText</a></td>
        <td><a href="EnableCheckSum">EnableCheckSum</a></td>
        <td><a href="Event">Event</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>