<table>
    <tr>
        <td><a href="Tab/ContentRenderModes/OnDemand">OnDemand</a></td>
        <td><a href="Tab/ContentRenderModes/OnDynamic">OnDynamic</a></td>
        <td><a href="Tab/ContentRenderModes/OnInit">OnInit</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>