<table>
    <tr>
        <td>
            <a href="geminiintegration">1.Gemini Integration</a>
            <a href="openaiintegration">2.open AI Integration</a>
            <a href="ollamallmintegration">3.Ollama LLM Integration</a>
        </td>
    </tr>
</table>