<table>
    <tr>
        <td><a href="Tab/ResponsiveModes/Popup">Popup</a></td>
        <td><a href="Tab/ResponsiveModes/Scrollable">Scrollable</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>