
<table>
    <tr>
        <td><a href="Timezone">Timezone</a></td>
        <td><a href="CRUD_Timezone">CRUD Timezone</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>