<table>
    <tr>
        <td><a href="categoryaxis">Category Axis</a></td>
        <td><a href="numericaxis">Numeric Axis</a></td>
        <td><a href="datetimeaxis">DateTime Axis</a></td>
        <td><a href="inversedaxis">Inversed Axis</a></td>
    </tr>
    <tr>
        <td><a href="opposedaxis">Opposed Axis</a></td>
        <td><a href="labelformatting">Label Formatting</a></td>
        <td><a href="axisintervals">Axis Intervals</a></td>
        <td><a href="axislabelincrement">Axis Label Increment</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>