<table>
    <tr>
        <td><a href="SingleSelection">SingleSelection</a></td>
        <td><a href="MultiSelection">MultiSelection</a></td>
        <td><a href="DropDownNesting">DropDownNesting</a></td>
    </tr>
    <tr>
        <td><a href="SplitButtonNesting">SplitButtonNesting</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>