<table>
    <tr>
        <td>
            <a href="buttonevents">Button Item</a><br><br>
            <a href="checkboxevents">CheckBox Item</a><br><br>
            <a href="dropdownbuttonevents">Dropdown Button Item</a><br><br>
            <a href="splitbuttonevents">SplitButton Item</a><br><br>
            <a href="comboboxevents">Combobox Item</a><br><br>
            <a href="colorpickerevents">ColorPicker Item</a><br><br>
            <a href="groupbuttonevents">Group Button Item</a><br><br>
            <a href="customitem">Custom Item</a><br><br>
            <a href="Disabled">Disabled items</a><br><br>
        </td>
    </tr>
</table>