<table>
    <tr>
        <td><a href="Accumulation/Legend/Legend">Legend</a></td>
        <td><a href="Accumulation/Legend/LegendShape">LegendShape</a></td>
        <td><a href="Accumulation/Legend/LegendShapeSize">LegendShapeSize</a></td>
    </tr>
    <tr>
        <td><a href="Accumulation/Legend/LegendSize">LegendSize</a></td>
        <td><a href="Accumulation/Legend/PagingLegend">PagingLegend</a></td>
        <td><a href="Accumulation/Legend/Position">Position</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>