<table>
    <tr>
        <td><a href="print">Print</a></td>
        <td><a href="printExternal">Print using an External button</a></td>
        <td><a href="printVisible">Print the Visible Page</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>