<table>
    <tr>
        <td><a href="columntemplate">Template context</a></td>
        <td><a href="templaterow">GridTemplates component</a></td>
    </tr>

</table>

<style>

    a {
        padding-right: 75px;
    }
</style>