<table>
    <tr>
        <td><a href="Sorting">Sort</a></td>
        <td><a href="Grouping">Group</a></td>
        <td><a href="HorizontalListBox">Horizontal ListBox</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>