<table>
    <tr>
        <td><a href="AnnotationCustomization">Customization</a></td>
        <td><a href="Position">Position</a></td>
        <td><a href="MultipleAnnotations">MultipleAnnotations</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>