<table>
    <tr>
        <td>
            <a href="itemskeytip">1.Items keytip</a><br><br>
            <a href="filemenukeytip">2.Filemenu keytip</a><br><br>
            <a href="backstagemenukeytip">3.Backstage Menu keytip</a><br><br>
            <a href="layoutswitcherkeytip">4.Layout Switcher keytip</a><br><br>
            <a href="launchericonkeytip">5.Launcher Icon keytip</a><br><br>
            <a href="keytipmethod">6.keytip Methods</a><br><br>
        </td>
    </tr>
</table>