<table>
    <tr>
        <td><a href="inpercentage">In Percentage</a></td>
        <td><a href="inpixel">In Pixel</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>