<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DashboardLayout_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="dashboard">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ModifyCellSize">
                <span aria-hidden="true"></span> Configure Grid Layout
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Size">
                <span aria-hidden="true"></span> Size and Position
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HeaderContent">
                <span aria-hidden="true"></span> Header and Content
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Drag">
                <span aria-hidden="true"></span> Drag and Drop
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ResizePanel">
                <span aria-hidden="true"></span> Resizing Panel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FloatingPanels">
                <span aria-hidden="true"></span> Floating Panels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ResponsiveAdaptiveLayout">
                <span aria-hidden="true"></span> Responsive Adaptive Layout
            </NavLink>
        </li>
    </ul>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

