<table>
    <tr>
        <td><a href="Search">Search</a></td>
        <td><a href="InitialSearch">Initial Search</a></td>
        <td><a href="SearchButton">Search Button</a></td>
        <td><a href="SearchSpecificColumns">Search Specific Columns</a></td>
    </tr>
    <tr>
        <td><a href="DisableSearch">DisableSearch</a></td>
        <td><a href="ImmediateSearch">ImmediateSearch</a></td>
    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>