<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AIAssitview_WebApp_Server</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <h2 style="color:white; margin: 10px;">Ai Assistview</h2>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="promptText">
                <span aria-hidden="true"></span> Assistview
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geminiintegration">
                <span aria-hidden="true"></span> AI Integration
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="iconcss">
                <span aria-hidden="true"></span> Toolbar Items
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewtype">
                <span aria-hidden="true"></span> Custom view
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EnableAttachments">
                <span aria-hidden="true"></span> File Attachments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bannertemplate">
                <span aria-hidden="true"></span> Template
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speechtotext">
                <span aria-hidden="true"></span> Speech
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="width">
                <span aria-hidden="true"></span> Appearance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="executingprompt">
                <span aria-hidden="true"></span> Methods
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="created">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="integrationwithai">
                <span aria-hidden="true"></span> How To
            </NavLink>
        </div> 
    </nav>
</div>

