
<table>
    <tr>
        <td><a href="Clipboard">Clipboard</a></td>
        <td><a href="Copy_Clipboard">Copy Clipboard</a></td>
        <td><a href="Copy_Hierarchy_Modes">Copy Hierarchy Modes</a></td>
    </tr>
    <tr>
        <td><a href="AutoFill">AutoFill</a></td>
        <td><a href="Cell_Copy_Paste">Cell Copy Paste</a></td>
        <td><a href="Row_Copy_Paste">Row Copy Paste</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>