<table>
    <tr>
        <td><a href="PreventTransition">Prevent Transition Across Columns</a></td>
        <td><a href="PreventDropActions">Prevent Drop Actions</a></td>
        <td><a href="PreventDragActions">Prevent Drag Actions</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>