<table>
    <tr>
        <td><a href="Tab/HowTo/AddRemoveItems">AddRemoveItems</a></td>
        <td><a href="Tab/HowTo/CreateWizard">CreateWizard</a></td>
        <td><a href="Tab/HowTo/CustomizeScrollStep">CustomizeScrollStep</a></td>
    </tr>
    <tr>
        <td><a href="Tab/HowTo/CustomizeSelectedTab">CustomizeSelectedTab</a></td>
        <td><a href="Tab/HowTo/LoadTabItems">LoadTabItems</a></td>
        <td><a href="Tab/HowTo/NestedTabs">NestedTabs</a></td>
    </tr>
    <tr>
        <td><a href="Tab/HowTo/PreventContentSwipe">PreventContentSwipe</a></td>
        <td><a href="Tab/HowTo/SetStatePersistence">SetStatePersistence</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>