<table>
    <tr>
        <td><a href="TaskbarTemplate">Taskbar Template</a></td>
        <td><a href="TaskbarHeight">Taskbar Height</a></td>
        <td><a href="TaskbarBackground">Taskbar Background</a></td>
        <td><a href="ConnectorLines">ConnectorLines</a></td>
    </tr>
    <tr>        
        <td><a href="Tooltip">Tooltip</a></td>
        <td><a href="TaskbarTooltip">Taskbar Tooltip</a></td>
        <td><a href="BaselineTooltip">Baseline Tooltip</a></td>
        <td><a href="ManualTaskbar_Tooltip">ManualTaskbar Tooltip</a></td>
    </tr>
    <tr>
        <td><a href="IndicatorTooltip">Indicator Tooltip</a></td>
        <td><a href="Baseline">Baseline</a></td>
        <td><a href="TaskLabels">Task Labels</a></td>
        <td><a href="DataMarkers">Data Markers</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>