<h5>ShiftEnter</h5>
@page "/RichTextEditor/EnterandShiftEnterKey/ShiftEnter"

<h6>Shift+Enter key customization</h6>

@using Syncfusion.Blazor.RichTextEditor

<br />
<h6>Shift+Enter key as DIV tag</h6>
<br />
<SfRichTextEditor ShiftEnterKey="ShiftEnterKeyTag.DIV">
    <div>In Rich text Editor, the <kbd>Enter</kbd> key and <kbd>Shift</kbd> + <kbd>Enter</kbd> key actions can be customized using the EnterKey and ShiftEnterKey properties.</div>
</SfRichTextEditor>

<br />
<h6>Shift+Enter key as P tag</h6>
<br />

<SfRichTextEditor ShiftEnterKey="ShiftEnterKeyTag.P">
    <div>In Rich text Editor, the <kbd>Enter</kbd> key and <kbd>Shift</kbd> + <kbd>Enter</kbd> key actions can be customized using the EnterKey and ShiftEnterKey properties.</div>
</SfRichTextEditor>

<br />
<h6>Shift+Enter key as BR tag</h6>
<br />

<SfRichTextEditor ShiftEnterKey="ShiftEnterKeyTag.BR">
    <div>In Rich text Editor, the <kbd>Enter</kbd> key and <kbd>Shift</kbd> + <kbd>Enter</kbd> key actions can be customized using the EnterKey and ShiftEnterKey properties.</div>
</SfRichTextEditor>

