<table>
    <tr>
        <td>
            <a href="viewtype">1.View Type</a><br><br>
            <a href="viewname">2.View Name</a><br><br>
            <a href="viewiconcss">3.Icon Css</a><br><br>
            <a href="viewtemplate">4.View Template</a><br><br>
            <a href="clearbutton">5.Clear Button</a><br><br>
            <a href="activeview">6.Active View</a>
        </td>
    </tr>
</table>