@page "/created"


@using Syncfusion.Blazor.InteractiveChat

<EventsNav></EventsNav>

<div style="height: 400px; width: 400px;">
    <SfChatUI Created="OnCreated"></SfChatUI>
</div>

@code {
    private void OnCreated()
    {
        // Your required action here
    }
}