<table>
    <tr>
        <td><a href="Tooltip">Gauge Tooltip</a></td>
        <td><a href="TooltipFormat">Tooltip Format</a></td>
        <td><a href="TooltipTemplate">Tooltip Template</a></td>
    </tr>
    <tr>
        <td><a href="CustomTooltipAppearance">Custom Tooltip Appearance</a></td>
        <td><a href="TooltipPosition">Tooltip Position</a></td>
        <td><a href="DragPointer">Drag Pointer</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>