<table>
    <tr>
        <td><a href="AxisValue">Axis Value</a></td>
        <td><a href="CustomLine">Custom Line</a></td>
        <td><a href="CustomTicks">Custom Ticks</a></td>
        <td><a href="PositionTicks">Position Ticks</a></td>
    </tr>
    <tr>
        <td><a href="CustomLabel">Custom Label</a></td>
        <td><a href="AxisLabelPosition">Axis Label Position</a></td>
        <td><a href="DisplayLastLabel">Display Last Label</a></td>
        <td><a href="LabelFormat">Label Format</a></td>
    </tr>
    <tr>
        <td><a href="NumericFormat">Numeric Format</a></td>
        <td><a href="Orientation">Gauge Orientation</a></td>
        <td><a href="InvertedAxis">Inverted Axis</a></td>
        <td><a href="OpposedAxis">Opposed Axis</a></td>
        <td><a href="MultipleAxes">Multiple Axes</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>