<table>
    <tr>
        <td><a href="border">Border</a></td>
        <td><a href="cellhighlighting">Cell Highlighting</a></td>
        <td><a href="margin">Margin</a></td>
        <td><a href="title">Title</a></td>
    </tr>
    <tr>
        <td><a href="datalabel">DataLabel</a></td>
        <td><a href="textstyle">Text Style</a></td>
        <td><a href="format">Format</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>