<table>
    <tr>
        <td>
            <a href="galleryitems">Gallery Items</a><br><br>
            <a href="cssclass">Css Class</a><br><br>
            <a href="galleryheader">Header</a><br><br>
            <a href="itemdimension">Item Dimension</a><br><br>
            <a href="groupstyling">Group Styling</a><br><br>
            <a href="itemcount">Item Count</a><br><br>
            <a href="selecteditemindex">Selected Item Index</a><br><br>
            <a href="popupdimensions">Popup Dimension</a><br><br>
            <a href="gallerytemplate">Gallery Template</a><br><br>
            <a href="galleryevents">Gallery Events</a><br><br>
        </td>
    </tr>
</table>