<table>
    <tr>
        <td><b>Size:</b></td>
        <td><a href="AppBar/Regular">RegularAppBar &nbsp;&nbsp;</a></td>
        <td><a href="AppBar/Prominent">ProminentAppBar &nbsp;&nbsp;</a></td>
        <td><a href="AppBar/Dense">DenseAppBar</a></td>
    </tr>
    <tr>
        <td><b>Color:</b></td>
        <td><a href="AppBar/Light">LightAppBar</a></td>
        <td><a href="AppBar/Dark">DarkAppBar</a></td>
        <td><a href="AppBar/Primary">PrimaryAppBar &nbsp;&nbsp;</a></td>
        <td><a href="AppBar/Inherit">InheritAppBar</a></td>
    </tr>
    <tr>
        <td><b>Design:</b></td>
        <td><a href="AppBar/Spacer">Spacer</a></td>
        <td><a href="AppBar/Separator">Separator</a></td>
        <td><a href="AppBar/MediaQuery">MediaQuery</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="AppBar/Menu">Designing AppBar with Menu</a></td>
        <td><a href="AppBar/Button">Designing AppBar with Button</a></td>
        <td><a href="AppBar/Sidebar">Designing AppBar with SideBar</a></td>
    </tr>
    <tr>
        <td><b>Style:</b></td>
        <td><a href="AppBar/css">CssClass</a></td>
        <td><a href="AppBar/Html">HtmlAttributes</a></td>
    </tr>
</table>