<table>
    <tr>
        <td><b>Tooltip:</b></td>
        <td><a href="Tooltip/EnableTooltip">EnableTooltip</a></td>
        <td><a href="Tooltip/Format">Format</a></td>
        <td><a href="Tooltip/Template">Template</a></td>
        <td><a href="Tooltip/SharedTooltip">SharedTooltip</a></td>
        <td><a href="Tooltip/CustomTooltip">CustomTooltip</a></td>
    </tr>
    <tr>
        <td><b>Zooming:</b></td>
        <td><a href="Tooltip/Zooming">Zoom</a></td>
        <td><a href="Tooltip/Modes">Modes</a></td>
        <td><a href="Tooltip/Toolbar">Toolbar</a></td>
        <td><a href="Tooltip/DisplayMode">ToolbarDisplayMode</a></td>
        <td><a href="Tooltip/Pan">Pan</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Tooltip/Scrollbar">Scrollbar</a></td>
        <td><a href="Tooltip/AutoInterval">AutoIntervalOnZooming</a></td>
    </tr>
    <tr>
        <td><b>Edit and Sort:</b></td>
        <td><a href="Tooltip/Editing">Editing</a></td>
        <td><a href="Tooltip/Sorting">Sorting</a></td>
        <td><a href="Tooltip/Order">SortingOrder</a></td>
        <td><a href="Tooltip/Custom">SortingByCustomValue</a></td>
    </tr>
    <tr>
        <td><b>Crosshair and Trackball:</b></td>
        <td><a href="Tooltip/Crosshair">Crosshair</a></td>
        <td><a href="Tooltip/CrosshairTooltip">CrosshairTooltip</a></td>
        <td><a href="Tooltip/CustomCrosshair">CustomCrosshair</a></td>
        <td><a href="Tooltip/Trackball">Trackball</a></td>
    </tr>
</table>