<table>
    <tr>
        <td><a href="CustomCheckBoxAppearance">CustomCheckBoxAppearance</a></td>
        <td><a href="CustomWidthandHeight">CustomWidthandHeight</a></td>
        <td><a href="CustomFrame">CustomFrame</a></td>
    </tr>
    <tr>
        <td><a href="CustomCheckIcon">CustomCheckIcon</a></td>
        <td><a href="ModelBinding">ModelBinding</a></td>
        <td><a href="RightToLeft">RightToLeft</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>