<table>
    <tr>
        <td><a href="CustomAlert">Alert</a></td>
        <td><a href="CustomConfirm">Confirm</a></td>
        <td><a href="CustomPrompt">Prompt</a></td>
        <td><a href="CustomDialogContent">CustomDialogContent</a></td>
    </tr>
    <tr>
        <td><a href="ShowAlertCloseButton">ShowAlertCloseButton</a></td>
        <td><a href="ShowConfirmCloseButton">ShowConfirmCloseButton</a></td>
        <td><a href="ShowPromptCloseButton">ShowPromptCloseButton</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>