@page "/showtooltip"
@rendermode InteractiveServer

@using Syncfusion.Blazor.Inputs

<SpeechRecognitionNav></SpeechRecognitionNav>

<div class="speechtext-container">
    <SfSpeechToText ShowTooltip="false" @bind-Transcript="@transcript"></SfSpeechToText>
    <SfTextArea RowCount="5" ColumnCount="50" @bind-Value="@transcript" ResizeMode="Resize.None" Placeholder="Transcribed text will be shown here..."></SfTextArea>
</div>

@code {
    string transcript = "";
}

<style>
    .speechtext-container {
        margin: 50px auto;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>