<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DateTimePicker_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="datetimepicker">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="OneWayBinding">
                <span aria-hidden="true"></span> Data Binding
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Range">
                <span aria-hidden="true"></span> DateTime Range
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BindNativeEvents">
                <span aria-hidden="true"></span> Native Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EnableStrictMode">
                <span aria-hidden="true"></span> Strict Mode
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CalendarNavigation">
                <span aria-hidden="true"></span> Accessibility
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Blur">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Week">
                <span aria-hidden="true"></span> Week Number
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SpecialDate">
                <span aria-hidden="true"></span> Special Date
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DisableDateTimePicker">
                <span aria-hidden="true"></span> How To
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

