<table>
    <tr>
        <td><a href="Tab/Header/IconPosition">IconPosition</a></td>
        <td><a href="Tab/Header/Styles">Styles</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>