<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UGSamples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dummy Grid
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="widthAndHeight">
                <span class="oi oi-plus" aria-hidden="true"></span> widthAndHeight
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="responsive">
                <span class="oi oi-list-rich" aria-hidden="true"></span> responsive
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="frozenRowsAndColumn">
                <span class="oi oi-list-rich" aria-hidden="true"></span> frozenRowsAndColumn
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="freezedirection">
                <span class="oi oi-list-rich" aria-hidden="true"></span> freezeDirection
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="freezeparticularCol">
                <span class="oi oi-list-rich" aria-hidden="true"></span> freezeparticularCol
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
