<table>
    <tr>
        <td><a href="Pointers">Pointer</a></td>
        <td><a href="MarkerPointer">Marker Pointer</a></td>
        <td><a href="CustomMarkerPointer">Custom Marker Pointer</a></td>
    </tr>
    <tr>
        <td><a href="BarPointer">Bar Pointer</a></td>
        <td><a href="CustomBarPointer">Custom Bar Pointer</a></td>
        <td><a href="MultiplePointers">Multiple Pointers</a></td>
    </tr>
    <tr>
        <td><a href="PointerAnimation">Pointer Animation</a></td>
        <td><a href="LinearGradientGauge">Linear Gradient Gauge</a></td>
        <td><a href="RadialGradientGauge">Radial Gradient Gauge</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>