<table>
    <tr>
        <td><a href="Toolbar/ResponsiveMode/Popup">Popup</a></td>
        <td><a href="Toolbar/ResponsiveMode/Scrollable">Scrollable</a></td>
        <td><a href="Toolbar/ResponsiveMode/TextModeForButtons">TextModeForButtons</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>