<table>
    <tr>
        <td><a href="Accordion/AccordionTemplate">AccordionTemplate</a></td>
        <td><a href="Accordion/AccordionWizard">AccordionWizard</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/AddItemDynamic">AddItemDynamic</a></td>
        <td><a href="Accordion/AnimationEffects">AnimationEffects</a></td>
        <td><a href="Accordion/DataBinding">DataBinding</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/EnableDisableItem">EnableDisableItem</a></td>
        <td><a href="Accordion/GettingStarted">GettingStarted</a></td>
        <td><a href="Accordion/IconInHeader">IconInHeader</a></td>
    </tr>
    <tr>
        <td><a href="Accordion/MultipleExpandMode">MultipleExpandMode</a></td>
        <td><a href="Accordion/NestedAccordion">NestedAccordion</a></td>
        <td><a href="Accordion/SingleExpandMode">SingleExpandMode</a></td>
        <td><a href="Accordion/TreeviewInsideAccordion">TreeviewInsideAccordion</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>