@page "/tabindex"


@using Syncfusion.Blazor.InteractiveChat
@using Syncfusion.Blazor.Navigations

<HeaderNav></HeaderNav>

<div style="height: 400px; width: 400px;">
    <SfChatUI>
        <HeaderToolbar>
            <HeaderToolbarItem Text="Item 1" TabIndex="0"></HeaderToolbarItem>
            <HeaderToolbarItem Text="Item 2" TabIndex="0"></HeaderToolbarItem>
        </HeaderToolbar>
    </SfChatUI>
</div>