<table>
    <tr>
        <td><a href="CustomLinearGaugeArea">Custom LinearGauge Area</a></td>
        <td><a href="LinearGaugeTitle">LinearGauge Title</a></td>
        <td><a href="NormalContainer">Normal Container</a></td>
    </tr>
    <tr>
        <td><a href="RoundedRectangle">Rounded Rectangle Container</a></td>
        <td><a href="Thermometer">Thermometer Container</a></td>
        <td><a href="FillLinearGauge">Fill Linear Gauge</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>