<table>
    <tr>
        <td><a href="Accumulation/Tooltip/Header">Header</a></td>
        <td><a href="Accumulation/Tooltip/Tooltip">Tooltip</a></td>
        <td><a href="Accumulation/Tooltip/TooltipCustomization">TooltipCustomization</a></td>
    </tr>
    <tr>
        <td><a href="Accumulation/Tooltip/TooltipFormat">TooltipFormat</a></td>
        <td><a href="Accumulation/Tooltip/TooltipTextmaping">TooltipTextmaping</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>