<table>
    <tr>
        <td><a href="rowtemplate">Row Template</a></td>
        <td><a href="rowtemplateformat">Row template with formatting</a></td>
        <td><a href="detailtemplate">Detail Template</a></td>
    </tr>
    <tr>
        <td><a href="customcomponent">Rendering custom component</a></td>
        <td><a href="expandexternal">Expand by external button</a></td>
        <td><a href="rowcustomization">Customize rows</a></td>
    </tr>
    <tr>
        <td><a href="alternaterow">Styling alternate rows</a></td>
        <td><a href="rowheight">Row Height</a></td>
        <td><a href="customizerowheight">Customize row height for particular row</a></td>
    </tr>
    <tr>
        <td><a href="MasterDetailDataGrid">MasterDetailDataGrid</a></td>
        <td><a href="RowDragandDrop">RowDragandDrop</a></td>
        <td><a href="DragandDropwithinGrid">DragandDropwithinGrid</a></td>
        <td><a href="AccessChildComponentinDetailTemplate">AccessChildComponentinDetailTemplate</a></td>
    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>

