@page "/PDFExport"

@using Syncfusion.Blazor.CircularGauge
<PrintExportRoute></PrintExportRoute>

<button @onclick="ExportGauge">Export</button>
<SfCircularGauge @ref="Gauge" AllowPdfExport="true">
</SfCircularGauge>

@code {
    SfCircularGauge Gauge;
    void ExportGauge()
    {
        this.Gauge.ExportAsync(ExportType.PDF, "CircularGauge", 0);
    }
}