<table>
    <tr>
        <td><a href="RangeStartAndEnd">RangeStartAndEnd</a></td>
        <td><a href="StartEndWidth">StartEndWidth</a></td>
        <td><a href="ChangingColor">ChangingColor</a></td>
    </tr>
    <tr>
        <td><a href="RangePosition">RangePosition</a></td>
        <td><a href="RoundedCorners">RoundedCorners</a></td>
        <td><a href="RadiusInPixel">RadiusInPixel</a></td>
    </tr>
    <tr>
        <td><a href="RadiusInPercentage">RadiusInPercentage</a></td>
        <td><a href="DraggingRanges">DraggingRanges</a></td>
        <td><a href="MultipleRanges">MultipleRanges</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>