<table>
    <tr>
        <td><a href="Collapsed">Collapsed</a></td>
        <td><a href="Menu">Menu</a></td>
        <td><a href="Wrap">Wrap</a></td>
    </tr>
    <tr>
        <td><a href="Scroll">Scroll</a></td>
        <td><a href="Hidden">Hidden</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>