<table>
    <tr>
        <td><a href="MenuIcon">MenuIcon</a></td>
        <td><a href="VerticalButtons">VerticalButtons</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>