<table>
    <tr>
        <td><a href="CustomPalette">CustomPalette</a></td>
        <td><a href="HideInputArea">HideInputArea</a></td>
        <td><a href="CustomHandle">CustomHandle</a></td>
    </tr>
    <tr>
        <td><a href="DisableColorPicker">DisableColorPicker</a></td>
        <td><a href="DefaultNoColor">DefaultNoColor</a></td>
        <td><a href="CustomNoColor">CustomNoColor</a></td>
    </tr>
    <tr>
        <td><a href="HideControlButton">HideControlButton</a></td>
        <td><a href="RenderPaletteAlone">RenderPaletteAlone</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>