<table>
    <tr>
        <td><a href="">Defining Row Data</a></td>
        <td><a href="gscolumn">Defining Columns</a></td>
        <td><a href="gspaging">Enable Paging</a></td>
    </tr>
    <tr>
        <td><a href="gssorting">Enable Sorting</a></td>
        <td><a href="gsfiltering">Enable Filtering</a></td>
        <td><a href="gsgrouping">Enable Grouping</a></td>
    </tr>

</table>

<style>
    a {
        padding-right: 75px;
    }
</style>