
<table>
    <tr>
        <td><a href="Selection_Mode">Selection Mode</a></td>
        <td><a href="Toggle_Selection">Toggle Selection</a></td>
        <td><a href="Drag_Selection">Drag Selection</a></td>
        <td><a href="Clear_Selection">Clear Selection</a></td>
        <td><a href="Dynamic_Cell_Selection">Dynamic Cell Selection</a></td>
    </tr>
    <tr>
        <td><a href="Single_Row_Selection">Single Row Selection</a></td>
        <td><a href="Multiple_Row_Selection">Multiple Row Selection</a></td>
        <td><a href="Initial_Row_Selection">Initial Row Selection</a></td>
        <td><a href="External_Single_Row_Selection">External Single RowSelection</a></td>
        <td><a href="Customize_Cell_Selection">Customize CellSelection</a></td>
    </tr>
    <tr>
        <td><a href="External_Multiple_Row_Selection">External Multiple RowSelection</a></td>
        <td><a href="Get_Selected_Row">Get Selected Row</a></td>
        <td><a href="Single_Cell_Selection">Single Cell Selection</a></td>
        <td><a href="Multiple_Cell_Selection">Multiple Cell Selection</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>