<table>
    <tr>
        <td><a href="CustomContextMenuItems">CustomContextMenuItems</a></td>
        <td><a href="MenuItemUsingCSSClass">MenuItemUsingCSSClass</a></td>
        <td><a href="MultiLevelNesting">MultiLevelNesting</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>