<table>
    <tr>
        <td><a href="Toolbar/HowTo/CommandCustomization">CommandCustomization</a></td>
        <td><a href="Toolbar/HowTo/CustomizeScrollStep">CustomizeScrollStep</a></td>
        <td><a href="Toolbar/HowTo/EnableDisableItem">EnableDisableItem</a></td>
        <td><a href="Toolbar/HowTo/ItemwiseCustomTemplate">ItemwiseCustomTemplate</a></td>
        <td><a href="Toolbar/HowTo/ToggleButton">ToggleButton</a></td>
        <td><a href="Toolbar/HowTo/TooltipCommands">TooltipCommands</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>