<table>
    <tr>
        <td><a href="Styles">Styles</a></td>
        <td><a href="RoundButtonGroup">RoundButtonGroup</a></td>
        <td><a href="FontIcon">FontIcon</a></td>
    </tr>
    <tr>
        <td><a href="Size">Size</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>