<table>
    <tr>
        <td><a href="Persistence">Persistence</a></td>
        <td><a href="Manual_State_Handling">Handling GanttState Manually</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>