<table>
    <tr>
        <td>
            <a href="buttonevents">1.Button Item</a><br><br>
            <a href="checkboxevents">2.CheckBox Item</a><br><br>
            <a href="dropdownbuttonevents">3.Dropdown Button Item</a><br><br>
            <a href="splitbuttonevents">4.SplitButton Item</a><br><br>
            <a href="comboboxevents">5.Combobox Item</a><br><br>
            <a href="colorpickerevents">6.ColorPicker Item</a><br><br>
            <a href="groupbuttonevents">7.Group Button Item</a><br><br>
            <a href="customitem">8.Custom Item</a><br><br>
            <a href="displayoptions">9.Display Options</a><br><br>
            <a href="disableditems">10.Disabled items</a><br><br>
        </td>
    </tr>
</table>