<table>
    <tr>
        <td>
            <a href="activelayouts">Active layouts</a><br><br>
            <a href="itemsize">Item Size</a><br><br>
            <a href="itemorientation">ItemOrientation</a><br><br>
            <a href="groupproperties">Group Properties</a><br><br>
            <a href="simplifiedlayouts">Simplified layouts</a><br><br>
            <a href="groupoverflowpopup">Group Overflow Popup</a><br><br>
            <a href="minimizedstate">Minimmized State</a><br><br>
            <a href="hidelayoutswitcher">Hide layout Switcher</a><br><br>
        </td>
    </tr>
</table>