<table>
    <tr>
        <td><a href="AutoHeightWidth">Auto Height and Width</a></td>
        <td><a href="HeightWidthInPixel">Height and Width In Pixel</a></td>
        <td><a href="HeightWidthInPercentage">Height and Width In Percentage</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>