<table>
    <tr>
        <td><a href="NormalEditing">Normal Editing</a></td>
        <td><a href="BatchEditing">Batch Editing</a></td>
        <td><a href="DialogEditing">Dialog Editing</a></td>
    </tr>
    <tr>
        <td><a href="CellEditTypeParams">Cell edit type and its params</a></td>
        <td><a href="CellEditTemplate">Using AutoComplete in EditTemplate</a></td>
        <td><a href="CommandColumn">Command Column</a></td>
    </tr>
    <tr>
        <td><a href="CustomCommand">Custom command</a></td>
        <td><a href="ColumnValidation">Column Validation</a></td>
        <td><a href="ProgrammaticCRUDoperations">Performing CRUD operations programmatically</a></td>
    </tr>
    <tr>
        <td><a href="CustomFormEditing">Custom external form editing</a></td>
        <td><a href="DialogTemplate">Dialog template</a></td>
        <td><a href="DisableComp-DialogTemp">Disable components in dialog template</a></td>
    </tr>
    <tr>
        <td><a href="SetFocusToEditor">Set Focus To Editor</a></td>
        <td><a href="InlineTemplate">Inline Template</a></td>
        <td><a href="AddNewRow-Bottom">Adding a new row at the bottom of the grid</a></td>
    </tr>
    <tr>
        <td><a href="DeleteConfirmation">Delete confirmation</a></td>
        <td><a href="BatchConfirmation">Batch confirmation</a></td>
        <td><a href="DefaultValuesWhileAdding">Default column values on adding new record</a></td>
    </tr>
    <tr>
        <td><a href="DisableEditingForColumn">Disable Editing For a Particular Column</a></td>
        <td><a href="CustomizeDialogHeader">Customize the dialog header</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>