<table>
    <tr>
        <td>
            <a href="contextualtabs">1.Contextual Tabs</a><br><br>
            <a href="selectedtabs">2.Selected Tabs</a><br><br>
            <a href="visibility">3.Visibility</a>
        </td>
    </tr>
</table>