<table>
    <tr>
        <td><a href="buildintoolbar">Built-in toolbaritems</a></td>
        <td><a href="customToolbaritems">Custom Toolbar items</a></td>
        <td><a href="builInCustom">Built-In and Custom items in Toolbar</a></td>
    </tr>
    <tr>
        <td><a href="customToolbar">CustomToolbar</a></td>
        <td><a href="cusToolWithDropDown">CusToolWithDropDown</a></td>
        <td><a href="enableDisable">EnableDisableToolbar</a></td>
    </tr>
    <tr>
        <td><a href="CustomToolbarText">CustomToolbarText</a></td>
        <td><a href="CustomToolbarStyles">CustomToolbarStyles</a></td>
        <td><a href="CustomToolbarwithTooltipText">CustomToolbarwithTooltipText</a></td>
    </tr>
</table>

 

<style>
    a {
       padding-right: 75px;
    }
</style>