<table>
    <tr>
        <td><a href="Drag">Drag</a></td>
        <td><a href="CustomDragHandler">CustomDragHandler</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>