@page "/emptychattemplate"
@rendermode InteractiveServer

@using Syncfusion.Blazor.InteractiveChat

<TemplateNav></TemplateNav>

<div style="height: 400px; width: 400px;">
    <SfChatUI>
        <EmptyChatTemplate>
            <div class="empty-chat-text">
                <h4><span class="e-icons e-comment-show"></span></h4>
                <h4>No Messages Yet</h4>
                <p>Start a conversation to see your messages here.</p>
            </div>
        </EmptyChatTemplate>
    </SfChatUI>
</div>

<style>
    .empty-chat-text {
        font-size: 15px;
        text-align: center;
        margin-top: 90px;
    }
</style>