<table>
    <tr>
        <td><a href="InitialView">InitialView</a></td>
        <td><a href="Restriction">Restriction</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>