@page "/TwoWayBinding"

@using Syncfusion.Blazor.Calendars
<BindingRoute></BindingRoute>

<p>Calendar value is: @DateValue</p>

<SfCalendar TValue="DateTime?" @bind-Value="@DateValue"></SfCalendar>

@code {
    public DateTime? DateValue { get; set; } = DateTime.Now;
}