<table>
    <tr>
        <td><a href="DataBindings/DataBinding">Data Binding</a></td>
        <td><a href="DataBindings/ValueBinding">Value Binding</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>