<table>
    <tr>
        <td><a href="DisableDateRangePicker">DisableDateRangePicker</a></td>
        <td><a href="SetPlaceholder">SetPlaceholder</a></td>
        <td><a href="CustomizationUsingCSSClass">CustomizationUsingCSSClass</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>