<table>
    <tr>
        <td>
            <a href="activelayouts">1.Active layouts</a><br><br>
            <a href="itemsize">2.Item Size</a><br><br>
            <a href="itemorientation">3.ItemOrientation</a><br><br>
            <a href="groupproperties">4.Group Properties</a><br><br>
            <a href="simplifiedlayouts">5.Simplified layouts</a><br><br>
            <a href="groupoverflowpopup">6.Group Overflow Popup</a><br><br>
            <a href="minimizedstate">7.Minimmized State</a><br><br>
            <a href="hidelayoutswitcher">8.Hide layout Switcher</a><br><br>
        </td>
    </tr>
</table>