<table>
    <tr>
        <td>
            <a href="created">1.Created</a><br><br>
            <a href="promptrequested">2.Prompt Requested</a><br><br>
            <a href="promptchanged">3.Prompt Changed</a><br><br>
            <a href="attachmentuploadstart">4.Attachment Upload Start</a><br><br>
            <a href="attachmentuploadsuccess">5.Attachment Upload success</a><br><br>
            <a href="attachmentuploadfailed">6.Attachment Upload Failed</a><br><br>
            <a href="attachmentremoved">7.Attachment Removed</a>
        </td>
    </tr>
</table>