<table>
    <tr>
        <td><a href="DataSourceOrder">DataSource Order</a></td>
        <td><a href="Index">Index Sort</a></td>
        <td><a href="Custom">Custom Sort</a></td>
        <td><a href="ChangeDirection">Change Direction</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>