<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HeatMap_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="heatmap">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="arraytablebinding">
                <span aria-hidden="true"></span> Working with Data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bubblesize">
                <span aria-hidden="true"></span> Bubble HeatMap
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categoryaxis">
                <span aria-hidden="true"></span> Axis
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gradient">
                <span aria-hidden="true"></span> Palette
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="legend">
                <span aria-hidden="true"></span> Legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="border">
                <span aria-hidden="true"></span> Appearance
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inpixel">
                <span aria-hidden="true"></span> Dimensions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="defaulttooltip">
                <span aria-hidden="true"></span> Tooltip
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="selection">
                <span aria-hidden="true"></span> Selection
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

