<table>
    <tr>
        <td><a href="BlurEvent">BlurEvent</a></td>
        <td><a href="ValueChangeEvent">ValueChangeEvent</a></td>
        <td><a href="ClosedEvent">ClosedEvent</a></td>
    </tr>
    <tr>
        <td><a href="CreatedEvent">CreatedEvent</a></td>
        <td><a href="DestroyedEvent">DestroyedEvent</a></td>
        <td><a href="FocusEvent">FocusEvent</a></td>
    </tr>
    <tr>
        <td><a href="OnOpen">OnOpenEvent</a></td>
        <td><a href="OnClose">OnCloseEvent</a></td>
        <td><a href="DataBoundEvent">DataBoundEvent</a></td>
    </tr>
    <tr>
        <td><a href="FilteringEvent">FilteringEvent</a></td>
        <td><a href="OnActionBeginEvent">OnActionBeginEvent</a></td>
        <td><a href="OnActionFailureEvent">OnActionFailureEvent</a></td>
    </tr>
    <tr>
        <td><a href="OnValueSelectEvent">OnValueSelectEvent</a></td>
        <td><a href="OpendedEvent">OpendedEvent</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>