<table>
    <tr>
        <td><a href="Accumulation/EmptyPoints/CustomEmptyPoints">CustomEmptyPoints</a></td>
        <td><a href="Accumulation/EmptyPoints/EmptyPoints">EmptyPoints</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>