<table>
    <tr>
        <td><a href="Accumulation/GettingStarted/Accumulation">Accumulation</a></td>
        <td><a href="Accumulation/GettingStarted/AddDatalabel">Add Datalabel</a></td>
        <td><a href="Accumulation/GettingStarted/AddTitle">AddTitle</a></td>
    </tr>
    <tr>
        <td><a href="Accumulation/GettingStarted/EnableLegend">EnableLegend</a></td>
        <td><a href="Accumulation/GettingStarted/EnableTooltip">EnableTooltip</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>