@page "/CustomizeUserHandleTemplate"

@using Syncfusion.Blazor.Diagram

<SfDiagramComponent @ref="_diagram" Width="1200px" Height="600px" Nodes="@_nodes" Connectors="@_connectors" SelectionSettings="@_selectedModel">
    <DiagramTemplates>
        <UserHandleTemplate>
            @{
                if ((context as UserHandle).Name == "user1")
                {
                    <div style="height: 100%; width: 100%">
                        <input type="button" value="Button1" />
                    </div>

                }
            }
        </UserHandleTemplate>
    </DiagramTemplates>
</SfDiagramComponent>

@code
{
    private SfDiagramComponent _diagram;
    private DiagramObjectCollection<Node> _nodes = new DiagramObjectCollection<Node>();
    private DiagramObjectCollection<Connector> _connectors = new DiagramObjectCollection<Connector>();
    // Defines diagram's SelectionSettings.
    private DiagramSelectionSettings _selectedModel = new DiagramSelectionSettings();
    private DiagramObjectCollection<UserHandle> _userHandles = new DiagramObjectCollection<UserHandle>();
    protected override void OnInitialized()
    {
        //Creating the userhandle for cloning the objects.
        UserHandle cloneHandle = new UserHandle()
        {
            Name = "user1",
            Visible = true,
            Offset = 0,
            Size = 30,
            Side = Direction.Right,
            Margin = new DiagramThickness() { Top = 0, Bottom = 0, Left = 0, Right = 0 },
            VisibleTarget = VisibleTarget.Node | VisibleTarget.Connector
        };
        //Add user handle to the collection.
        _userHandles = new DiagramObjectCollection<UserHandle>()
        {
            cloneHandle
        };
        _selectedModel = new DiagramSelectionSettings()
        {
            //Enable userhandle for the selected model.
            Constraints = SelectorConstraints.UserHandle,
            UserHandles = _userHandles
        };
        _nodes = new DiagramObjectCollection<Node>();
        Node diagramNode = new Node()
        {
            ID = "node1",
            OffsetX = 300,
            OffsetY = 200,
            Width = 130,
            Height = 130,
            Style = new ShapeStyle() { Fill = "#6495ED", StrokeColor = "none" },
            Annotations = new DiagramObjectCollection<ShapeAnnotation>() { new ShapeAnnotation { Content = "Node" } }
        };
        _nodes.Add(diagramNode);

        Connector connector1 = new Connector()
        {
            ID = "connector1",
            SourcePoint = new DiagramPoint() { X = 600, Y = 120 },
            TargetPoint = new DiagramPoint() { X = 750, Y = 270 },
            Type = ConnectorSegmentType.Orthogonal
        };
        _connectors.Add(connector1);
    }
}