@page "/RenderPaletteAlone"

@using Syncfusion.Blazor.Inputs
<HowToRoute></HowToRoute>

<h4>Choose a color</h4>
<SfColorPicker Mode="ColorPickerMode.Palette" ModeSwitcher="false" ShowButtons="false"></SfColorPicker>