<table>
    <tr>
        <td><a href="Gantt_Style_Appearance">Gantt Style Appearance</a></td>
        <td><a href="GridLines">GridLines</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>