<table>
    <tr>
        <td><a href="Auto_Schedule">Auto Schedule</a></td>
        <td><a href="Manual_Schedule">Manual Schedule</a></td>
        <td><a href="Custom_Schedule">Custom Schedule</a></td>
        <td><a href="Unscheduled_Tasks">Unscheduled Tasks</a></td>
    </tr>
    <tr>
        <td><a href="WorkTimeRange">Work Time Range</a></td>
        <td><a href="WorkWeek">Work Week</a></td>
        <td><a href="DurationUnit">Duration Unit</a></td>
        <td><a href="Auto_link_Validation">Auto-link Validation</a></td>
    </tr>
    <tr>
        <td><a href="TaskDependencies">Task Dependencies</a></td>
        <td><a href="Complex_Dependencies">Complex Dependencies</a></td>
        <td><a href="Multiple_Dependency">Multiple Dependency</a></td>
        <td><a href="Customize_Dependency">Customize_Dependency</a></td>
    </tr>
    <tr>
        <td><a href="PredecessorValidation">Predecessor Validation</a></td>
        <td><a href="CustomValidation">Custom Validation</a></td>
        <td><a href="OffsetValidation">Offset Validation</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>