<table>
    <tr>
        <td><b>Dimensions:</b></td>
        <td><a href="Chart/SizeForContainer">Size for Container</a></td>
        <td><a href="Chart/SizeForChart">Size for Chart</a></td>
    </tr>
    <tr>
        <td><b>Category Axis:</b></td>
        <td><a href="Chart/LabelPlacement">Label Placement</a></td>
        <td><a href="Chart/RangeAndInterval">Range and Interval</a></td>
        <td><a href="Chart/IndexedCategoryAxis">Indexed Category Axis</a></td>
    </tr>
    <tr>
        <td><b>Numeric Axis:</b></td>
        <td><a href="Chart/IntervalAndRange">Interval and Range</a></td>
        <td><a href="Chart/RangePadding">Range Padding</a></td>
        <td><a href="Chart/LabelFormat">Label Format</a></td>
        <td><a href="Chart/CustomLabelFormat">Custom Label Format</a></td>
    </tr>
    <tr>
        <td><b>DateTime Axis:</b></td>
        <td><a href="Chart/DateTimeAxis">DateTimeAxis</a></td>
        <td><a href="Chart/CategoryAxis">Category Axis</a></td>
        <td><a href="Chart/Range">Range</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Chart/IntervalCustomization">Interval Customization</a></td>
        <td><a href="Chart/Format">Label Format</a></td>
    </tr>
    <tr>
        <td><b>Logarithmic Axis</b></td>
        <td><a href="Chart/LogarithmicAxis">Logarithmic Axis</a></td>
        <td><a href="Chart/LogarithmicRange">Logarithmic Range</a></td>
        <td><a href="Chart/Base">Logarithmic Base</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Chart/Interval">Logarithmic Interval</a></td>
        <td><a href="Chart/LogarithmicLabelFormat">Logarithmic LabelFormat</a></td>
        <td><a href="Chart/CustomLabel">Logarithmic CustomLabel</a></td>
    </tr>
</table>