<table>
    <tr>
        <td><a href="Contextmenu">contextmenu</a></td>
        <td><a href="ContextmenuItems">contextmenuItems</a></td>
        <td><a href="BuiltInandCustomContextMenu">BuiltInandCustomContextMenu</a></td>
    </tr>
    <tr>
        <td><a href="SubContextMenuItems">SubContextMenuItems</a></td>
        <td><a href="DisableContextMenuforSpecificColumn">DisableContextMenuforSpecificColumn</a></td>
        <td><a href="DisableContextMenuItemsDynamic">DisableContextMenuItemsDynamic</a></td>
    </tr>
</table>



<style>
    a {
        padding-right: 75px;
    }
</style>