<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CircularGauge_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="circulargauge">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SizeInPixel">
                <span aria-hidden="true"></span> Dimensions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AxisCustomization">
                <span aria-hidden="true"></span> Axes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RangeStartAndEnd">
                <span aria-hidden="true"></span> Ranges
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Pointers">
                <span aria-hidden="true"></span> Pointers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Customization">
                <span aria-hidden="true"></span> Annotations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LegendTextFont">
                <span aria-hidden="true"></span> Legend
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TooltipFormat">
                <span aria-hidden="true"></span> User Interaction
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Title">
                <span aria-hidden="true"></span> Appearance
            </NavLink>
        </li>
    </ul>
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

