<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LinearGauge_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="nav flex-column hide" id="lineargauge">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SizeInPixel">
                <span aria-hidden="true"></span> Dimensions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AxisValue">
                <span aria-hidden="true"></span> Axes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Range">
                <span aria-hidden="true"></span> Ranges
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Pointers">
                <span aria-hidden="true"></span> Pointers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AddAnnotations">
                <span aria-hidden="true"></span> Annotations
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tooltip">
                <span aria-hidden="true"></span> User Interaction
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Print">
                <span aria-hidden="true"></span> Print and Export
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CustomLinearGaugeArea">
                <span aria-hidden="true"></span> Appearance
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Global/NumericFormat">
                <span aria-hidden="true"></span> Globalization
            </NavLink>
        </li>
    </ul>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

