<table>
    <tr>
        <td><a href="CreateBlockButton">CreateBlockButton</a></td>
        <td><a href="CustomButtonAppearance">CustomButtonAppearance</a></td>
        <td><a href="HTMLAttributeSupport">HTMLAttributeSupport</a></td>
    </tr>
    <tr>
        <td><a href="RepeatButton">RepeatButton</a></td>
        <td><a href="RightToLeft">RightToLeft</a></td>
        <td><a href="DisableState">DisableState</a></td>
        <td><a href="Tooltip">Tooltip</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>