<table>
    <tr>
        <td><a href="ArrayOfString">Array Of String</a></td>
        <td><a href="ArrayOfObject">Array Of Object</a></td>
        <td><a href="ArrayOfComplexObject">Array Of Complex Object</a></td>
        <td><a href="RemoteData">Remote Data</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>