<table>
    <tr>
        <td><a href="MaskConfiguration/StandardMask">Standard Mask</a></td>
        <td><a href="MaskConfiguration/CustomMask">Custom Mask</a></td>
        <td><a href="MaskConfiguration/RegularExpression">Regular Expression</a></td>
    </tr>
    <tr>
        <td><a href="/MaskConfiguration/PromptCharacter">Prompt Character</a></td>
        <td><a href="/MaskConfiguration/IncludeLiterals">Include Literals</a></td>
        <td><a href="/MaskConfiguration/PromptPlaceholder">Prompt Placeholder</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>