@page "/ConnectorFromPalette"

@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Diagram.SymbolPalette

<div style="width: 200px; float: left">
    <SfSymbolPaletteComponent Height="600px" @ref="@_paletteInstance" Palettes="@_palettes">
    </SfSymbolPaletteComponent>
</div>

<SfDiagramComponent @ref="@_diagramInstance" Width="1000px" Height="500px" Connectors="@_connectors" />

@code
{
    private SfSymbolPaletteComponent _paletteInstance;
    private SfDiagramComponent _diagramInstance;
    //Defines Symbol palette's PaletteConnector collection.
    private DiagramObjectCollection<NodeBase> _paletteConnector = new DiagramObjectCollection<NodeBase>();
    private DiagramObjectCollection<Palette> _palettes = new DiagramObjectCollection<Palette>();
    private DiagramObjectCollection<Connector> _connectors = new DiagramObjectCollection<Connector>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _paletteInstance.Targets = new DiagramObjectCollection<SfDiagramComponent>() { };
        _paletteInstance.Targets.Add(_diagramInstance);
    }

    protected override void OnInitialized()
    {
        Connector connector = new Connector()
        {
            ID = "connector1",
            // Set the source and target point of the connector.
            SourcePoint = new DiagramPoint() { X = 100, Y = 100 },
            TargetPoint = new DiagramPoint() { X = 200, Y = 200 },
            // Type of the connector segments.
            Type = ConnectorSegmentType.Straight
        };
        _connectors.Add(connector);

        _paletteConnector = new DiagramObjectCollection<NodeBase>();
        Connector connector1 = new Connector
        {
            ID = "Link1",
            Type = ConnectorSegmentType.Straight,
            SourcePoint = new DiagramPoint() { X = 0, Y = 0 },
            TargetPoint = new DiagramPoint() { X = 60, Y = 60 }
        };
        _paletteConnector.Add(connector1 as NodeBase);

        Connector connector2 = new Connector
        {
            ID = "Link2",
            Type = ConnectorSegmentType.Orthogonal,
            SourcePoint = new DiagramPoint() { X = 0, Y = 0 },
            TargetPoint = new DiagramPoint() { X = 60, Y = 60 },
            TargetDecorator = new DecoratorSettings() { Shape = DecoratorShape.OpenArrow },
            Style = new ShapeStyle() { StrokeWidth = 1 }
        };
        _paletteConnector.Add(connector2 as NodeBase);

        Connector connector3 = new Connector
        {
            ID = "Link3",
            Type = ConnectorSegmentType.Bezier,
            SourcePoint = new DiagramPoint() { X = 0, Y = 0 },
            TargetPoint = new DiagramPoint() { X = 60, Y = 60 },
            TargetDecorator = new DecoratorSettings() { Shape = DecoratorShape.None },
        };
        _paletteConnector.Add(connector3 as NodeBase);

        _palettes = new DiagramObjectCollection<Palette>()
        {
            new Palette(){ Symbols = _paletteConnector , Title = "Connectors", IsExpanded = true },
        };
    }
}