<table>
    <tr>
        <td><a href="Event/NativeEvent">Native Event</a></td>
        <td><a href="Event/PassEvent">Pass Event</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>