<table>
    <tr>
        <td><a href="PositionAlert">Alert</a></td>
        <td><a href="PositionConfirm">Confirm</a></td>
        <td><a href="PositionPrompt">Prompt</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>