<table>
    <tr>
        <td><a href="Row_Virtualization">Row Virtualization</a></td>
        <td><a href="Manage_Records_Count">Manage Records Count</a></td>
        <td><a href="Column_Virtualization">Column Virtualization</a></td>
        <td><a href="Timeline_Virtualization">Timeline Virtualization</a></td>
    </tr>    
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>