<table>
    <tr>
        <td><a href="JsonAdaptor">JsonAdaptor</a></td>
        <td><a href="UrlAdaptor">UrlAdaptor</a></td>
        <td><a href="ODataAdaptor">ODataAdaptor</a></td>
    </tr>
    <tr>
        <td><a href="ODataV4Adaptor">ODataV4Adaptor</a></td>
        <td><a href="WebAPIAdaptor">WebAPIAdaptor</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>