<table>
    <tr>
        <td><b>Selection:</b></td>
        <td><a href="Selection/Point">Point</a></td>
        <td><a href="Selection/Series">Series</a></td>
        <td><a href="Selection/Cluster">Cluster</a></td>
        <td><a href="Selection/Rectangular">Rectangular</a></td>
        <td><a href="Selection/MultipleSelection">MultipleSelection</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Selection/Code">SelectionViaCode</a></td>
        <td><a href="Selection/Legend">LegendSelection</a></td>
        <td><a href="Selection/CustomSelection">CustomSelection</a></td>
    </tr>
    <tr>
        <td><b>Print:</b></td>
        <td><a href="Selection/Print">Print</a></td>
        <td><a href="Selection/MultipleCharts">MultipleChartPrint</a></td>
        <td><a href="Selection/Exports">Export</a></td>
        @* <td><a href="Selection/ExportChart">ExportChartAsBase64String</a></td> *@
    </tr>
    <tr>
        <td><b>Work with Data</b></td>
        <td><a href="Selection/WorkingWithData/List">ListBinding</a></td>
        @* <td><a href="Selection/WorkingWithData/Expand">ExpandoBinding</a></td> *@
        <td><a href="Selection/WorkingWithData/Remote">RemoteBinding</a></td>
        <td><a href="Selection/WorkingWithData/Web">WebAPI</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="Selection/WorkingWithData/Parameter">AdditionalParameter</a></td>
        <td><a href="Selection/WorkingWithData/Collection">ObservableCollection</a></td>
        <td><a href="Selection/WorkingWithData/EmptyPoint">EmptyPoint</a></td>
        <td><a href="Selection/WorkingWithData/CustomEmptyPoint">CustomEmptyPoint</a></td>
    </tr>
</table>