<table>
    <tr>
        <td><a href="Bind_Native_Events">Bind Native Events</a></td>
        <td><a href="Bind_Gantt_Chart">Bind GanttChart</a></td>
        <td><a href="Customize_Expand_Collapse_Icon">Customize Expand/Collapse Icon</a></td>
    </tr>
    <tr>
        <td><a href="Define_Columns">Define Columns</a></td>
        <td><a href="Enable_Editing">Enable Editing</a></td>
        <td><a href="Enable_Filtering">Enable Filtering</a></td>
        <td><a href="Enable_Sorting">Enable Sorting</a></td>
        <td><a href="Enable_Predecessors">Enable Predecessors</a></td>

    </tr>
    <tr>
        <td><a href="Handle_Exceptions">Handle Exceptions</a></td>
        <td><a href="Hide_Chart">Hide Chart</a></td>
        <td><a href="Map_Task_Fields">Map TaskFields</a></td>
        <td><a href="Open_Add_Edit_Dialog">Open Add/Edit Dialog</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>