<table>
    <tr>
        <td><a href="legend">Legend</a></td>
        <td><a href="legendtypes">Legend Types</a></td>
        <td><a href="placement">Placement</a></td>
        <td><a href="alignment">Alignment</a></td>
        <td><a href="legenddimensions">Legend Dimensions</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>