<table>
    <tr>
        <td><a href="Accumulation/Annotation/Annotation">Annotation</a></td>
        <td><a href="Accumulation/Annotation/Co-ordinateunits">Co-ordinateunits</a></td>
        <td><a href="Accumulation/Annotation/Region">Region</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>