<table>
    <tr>
        <td>
            <a href="backstagemenuitems">1.Backstage MenuItems</a><br><br>
            <a href="footeritems">2.Footer Items</a><br><br>
            <a href="seperator">3.Seperator</a><br><br>
            <a href="backbutton">4.Back Button Settings</a><br><br>
            <a href="template">5.Template</a><br><br>
            <a href="backstageitemclick">6.Backstage Itemclick</a><br><br>
        </td>
    </tr>
</table>