<table>
    <tr>
        <td><a href="Accumulation/Datalabel/Connectorline">Connectorline</a></td>
        <td><a href="Accumulation/Datalabel/Datalabel">Datalabel</a></td>
        <td><a href="Accumulation/Datalabel/Position">Position</a></td>
    </tr>
    <tr>
        <td><a href="Accumulation/Datalabel/Smartlabels">Smartlabels</a></td>
        <td><a href="Accumulation/Datalabel/TextMapping">TextMapping</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>