<table>
    <tr>
        <td><a href="DefineColumns">Defining Columns</a></td>
        <td><a href="ColumnTypes">Column Types</a></td>
        <td><a href="ColumnFormat">Column Format</a></td>
        <td><a href="Date_Format">Column Date Format</a></td>
    </tr>
    <tr>
        <td><a href="AutoFit">AutoFit Columns</a></td>
        <td><a href="TreeColumnIndex">TreeColumnIndex</a></td>
        <td><a href="Show_Hide_Column">Show Hide Columns</a></td>
        <td><a href="Responsive_Columns">Responsive Columns</a></td>
    </tr>
    <tr>
        <td><a href="Control_Gantt_Actions">Control Gantt Actions</a></td>
        <td><a href="Reorder">Columns Reorder</a></td>
        <td><a href="Resizing">Columns Resizing</a></td>
        <td><a href="Template">Column Template</a></td>
    </tr>
    <tr>
        <td><a href="ColumnMenu">ColumnMenu</a></td>
        <td><a href="ColumnChooser">Column Chooser</a></td>
        <td><a href="WbsColumn">WBS Column</a></td>
        <td><a href="NumberFormat">Column Number Format</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>