<table>
    <tr>
        <td><a href="FilterType">FilterType</a></td>
        <td><a href="FilterItemCount">FilterItemCount</a></td>
        <td><a href="LimitMinimumFilterCharacter">LimitMinimumFilterCharacter</a></td>
    </tr>
    <tr>
        <td><a href="CaseSensitiveFiltering">CaseSensitiveFiltering</a></td>
        <td><a href="CustomFiltering">CustomFiltering</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>