<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gantt_ServerApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Hierarchy-data-binding">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Data Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DefineColumns">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Columns
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Year_Timeline">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Timeline
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Splitter_Position">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Splitter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Auto_Schedule">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scheduling Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskbarTemplate">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Taskbar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CriticalPath">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> CriticalPath
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ToolbarItems">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Toolbar Items
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Edit_Tasks">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Managing Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Scroll">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scrolling
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Row_Virtualization">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Virtualization
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Work">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Work
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Resource_Collection">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Resource
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Filter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Filtering
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sorting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sorting
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RowHeight">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rows
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Excel_Export">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excel Export
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PDF_Export">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PDF Export
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Timezone">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Timezone
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Context_Menu">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Context Menu
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Clipboard">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clipboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prevent_Render">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> WebassemblyPerformance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Persistence">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> State Management
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RTL_Support">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Globalization
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Gantt_Style_Appearance">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> StyleAppearance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Events/BeforeCopy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Bind_Native_Events">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> How To
            </NavLink>
        </div>
    </nav>
</div>