<table>
    <tr>
        <td><a href="widthAndHeight">WidthAndHeight</a></td>
        <td><a href="responsive">Responsive</a></td>
        <td><a href="CustomGridScrollbar">CustomGridScrollbar</a></td>
    </tr>
    <tr>
        <td><a href="frozenRowsAndColumn">FrozenRowsAndColumn</a></td>
        <td><a href="freezeparticularCol">freezeparticularColumn</a></td>
        <td><a href="freezedirection">FreezeDirection</a></td>
    </tr>
    <tr>
        <td><a href="StickyHeader">StickyHeader</a></td>
        <td><a href="FrozenLineColor">FrozenLineColor</a></td>
    </tr>
</table>

 

<style>
    a {
        padding-right: 75px;
    }
</style>