<table>
    <tr>
        <td><a href="Blur">Blur</a></td>
        <td><a href="ValueChange">ValueChange</a></td>
        <td><a href="Closed">Closed</a></td>
        <td><a href="Created">Created</a></td>
    </tr>
    <tr>
        <td><a href="Destroyed">Destroyed</a></td>
        <td><a href="Focus">Focus</a></td>
        <td><a href="OnOpen">OnOpen</a></td>
        <td><a href="OnClose">OnClose</a></td>
    </tr>
    <tr>
        <td><a href="DataBound">DataBound</a></td>
        <td><a href="Filtering">Filtering</a></td>
        <td><a href="OnActionBegin">OnActionBegin</a></td>
        <td><a href="OnActionComplete">OnActionComplete</a></td>
    </tr>
    <tr>
        <td><a href="OnActionFailure">OnActionFailure</a></td>
        <td><a href="OnValueSelect">OnValueSelect</a></td>
        <td><a href="Opened">Opened</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>