<h5>Customize Toolbar Appearance</h5>

@page "/RichTextEditor/StylingAndAppearance/CustomizeToolbarAppearance"

@using Syncfusion.Blazor.RichTextEditor

<SfRichTextEditor>
    <p>The Rich Text Editor component is the WYSIWYG ('what you see is what you get') editor that provides the best user experience to create and update content. Format your content using standard toolbar commands. </p>
    <p><b> Key features:</b></p>
    <ul>
    <li><p> Provides <b>IFRAME</b> and <b>DIV</b> modes </p></li>
    <li><p> Capable of handling markdown editing.</p></li>
    </ul>
</SfRichTextEditor>

<style>
    /* To change font color for toolbar icon */
    .e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-icons,
    .e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-icons:active {
        color: red;
    }

    /* To change font color for toolbar button */
    .e-toolbar .e-tbar-btn,
    .e-toolbar .e-tbar-btn:active,
    .e-toolbar .e-tbar-btn:hover {
        color: red;
    }

    /* To change font color for toolbar button in active state*/
    .e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-dropdown-btn.e-active .e-icons,
    .e-richtexteditor .e-rte-toolbar .e-toolbar-item .e-dropdown-btn.e-active .e-rte-dropdown-btn-text {
        color: red;
    }

    /* To change font color for expanded toolbar items */
    .e-richtexteditor .e-rte-toolbar .e-toolbar-extended .e-toolbar-item .e-tbar-btn .e-icons,
    .e-toolbar.e-extended-toolbar .e-toolbar-extended .e-toolbar-item .e-tbar-btn {
        color: red;
    }
</style>
