<table>
    <tr>
        <td><a href="RenderSwimlaneRow">Render Swimlane Row</a></td>
        <td><a href="CustomRowText">Custom Row Text</a></td>
        <td><a href="SwimTemplate">Templates</a></td>
    </tr>
    <tr>
        <td><a href="Sorting">Sort</a></td>
        <td><a href="CustomOrder">Custom Order</a></td>
        <td><a href="CardCount">Card Count</a></td>
        <td><a href="FrozenRows">Frozen Rows</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>