<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChartUGSample</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Chart/SizeForContainer" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Charts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChartAxisLabels/SmartAxisLabels" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Axis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Features/Horizontal" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Features
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotation/ChartAnnotation" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Annotation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tooltip/EnableTooltip" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Tooltip
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Selection/Point" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Selection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Indicators/Distributor" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Indicators
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HowTo/AddRemove" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> How To
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChartTypes/LineChart/Line" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ChartTypes/ColumnChart/Column" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Chart Types-1
            </NavLink>
        </div>
    </nav>
</div>

