<table>
    <tr>
        <td><a href="Images">Images</a></td>
        <td><a href="Title">Title</a></td>
        <td><a href="Divider">Divider</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>