<table>
    <tr>
        <td><a href="Toolbar/ItemConfiguration/Input">Input</a></td>
        <td><a href="Toolbar/ItemConfiguration/Separator">Separator</a></td>
    </tr>
</table>


<style>
    a {
      padding-right: 75px;
    }
</style>