<table>
    <tr>
        <td><a href="Edit_Tasks">Edit Tasks</a></td>
        <td><a href="Cell_Edit">Cell_Edit</a></td>
        <td><a href="Cell_Edit_Type">Cell_Edit_Type</a></td>
        <td><a href="Cell_Edit_Template">Cell Edit Template</a></td>
        <td><a href="Disable_Editing">Disable Editing</a></td>
    </tr>
    <tr>
        <td><a href="Delete_Tasks">Delete Tasks</a></td>
        <td><a href="ContextMenu_Adding_Tasks">Adding Tasks-ContextMenu</a></td>
        <td><a href="Indent_Outdent">Indent/Outdent</a></td>
        <td><a href="Segments">Bind Segments Data</a></td>
    </tr>
    <tr>
        <td><a href="Editing_Template">Editing Template</a></td>
        <td><a href="Taskbar_Editing">Taskbar Editing</a></td>
        <td><a href="Adding_Tasks">Adding Tasks</a></td>
        <td><a href="Toolbar_Adding_Tasks">Adding Tasks-Toolbar</a></td>
        
    </tr>
    <tr>
        <td><a href="Dialog_Edit">Edit Tasks-Dialog</a></td>
        <td><a href="Dialog_Tabs">Dialog Tabs</a></td>
        <td><a href="Limits_General_Tab">Limits Fields General Tab</a></td>
        <td><a href="Edit_Task_Dependencies">Edit Task Dependencies</a></td>
        
    </tr>
    <tr>
        <td><a href="Confirmation_Dialog">Delete-Confirmation Dialog</a></td>
        <td><a href="Taskbar_Draw">Taskbar Draw</a></td>
        <td><a href="Segment_Event">Segment Events</a></td>
        <td><a href="Prevent_Taskbar_Editing">Prevent Taskbar Editing</a></td>
    </tr>
    <tr>
        <td><a href="Custom_Segments">Custom Segments</a></td>        
        <td><a href="Split_Merge">Split/Merge</a></td>
        <td><a href="ContextMenu_Split_Merge">Split/Merge-ContextMenu</a></td>
        <td><a href="Dialog_Split_Merge">Split/Merge-Dialog</a></td>
        <td><a href="Toolbar_Deleting_Tasks">Delete Tasks-Toolbar</a></td>
    </tr>
</table>

<style>
    a {
        padding-right: 75px;
    }
</style>