<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AutoComplete_WasmApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Databinding">
                <span aria-hidden="true"></span> Data Binding
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ArrayOfObject">
                <span aria-hidden="true"></span> Data Source
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Grouping">
                <span aria-hidden="true"></span> Grouping
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FilterType">
                <span aria-hidden="true"></span> Filtering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ItemTemplate">
                <span aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddSearchIcon">
                <span aria-hidden="true"></span> Styles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Virtualization">
                <span aria-hidden="true"></span> Virtualization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BindNativeEvent">
                <span aria-hidden="true"></span> Native Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="KeyboardInteraction">
                <span aria-hidden="true"></span> Accessibility
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BlurEvent">
                <span aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

