<table>
    <tr>
        <td><a href="SingleListBox">Single ListBox</a></td>
        <td><a href="MultipleListBox">Multiple ListBox</a></td>
        <td><a href="DualListBox">Dual ListBox</a></td>
        <td><a href="Icons">Icon</a></td>
        <td><a href="Template">Templates</a></td>
    </tr>
</table>


<style>
    a {
        padding-right: 75px;
    }
</style>