<table>
    <tr>
        <td><a href="pdfExport">PdfExport</a></td>
        <td><a href="pdfFileName">PdfFileName</a></td>
        <td><a href="textinHeader">TextinHeader</a></td>
    </tr>
    <tr>
        <td><a href="lineInHeader">LineInHeader</a></td>
        <td><a href="pageInHeader">PageInHeader</a></td>
        <td><a href="imageInHeader">ImageInHeader</a></td>
    </tr>
    <tr>
        <td><a href="pageOrientation">PageOrientation</a></td>
        <td><a href="changePageSize">ChangePageSize</a></td>
        <td><a href="exportCurrentPage">ExportCurrentPage</a></td>
    </tr>
    <tr>
        <td><a href="exportHiddenCols">ExportHiddenCols</a></td>
        <td><a href="theme">Theme</a></td>
        <td><a href="customDataSource">CustomDataSource</a></td>
    </tr>
</table>


 

<style>
    a {
        padding-right: 75px;
    }
</style>